Email OTP Verification
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "verify your email",
        "formDescription": "Just a few quick questions",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First name",
              "requiredField": true
            },
            {
              "fieldLabel": "last name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email address",
              "fieldType": "email"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Submit",
          "path": "nesroi-ai"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1120,
        96
      ],
      "id": "fc290a92-6019-426d-9766-3bf47ffb9ad8",
      "name": "On form submission",
      "webhookId": "0710bf27-fb25-49c8-8524-635d8a1be00b"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "<!-- Your cu<!-- Your custom HTML here --->\nCheck your email for the verification code!<br><br><br>\n\n\n\n"
            },
            {
              "fieldLabel": "verification code",
              "fieldType": "number",
              "placeholder": "Please check your email for verification code"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -496,
        96
      ],
      "id": "7bbcc3fd-58de-4617-9c69-a1e6c5686fd7",
      "name": "Form",
      "webhookId": "df510f42-8b21-457e-9dad-49db9fb6d409"
    },
    {
      "parameters": {
        "jsCode": "// Iterate through every item coming from the previous node\nreturn items.map(item => {\n  // Add a 6-digit random number (number type; use .toString() if you need text)\n  item.json.random_token = Math.floor(100000 + Math.random() * 900000);\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        96
      ],
      "id": "9afc0e76-4b02-4f24-bdf9-73aaa83a8241",
      "name": "Create Token"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f97066f2-de55-4283-b440-7ff2ab8b0e86",
              "name": "verification_code",
              "value": "={{ $json['verification code'] ? $json['verification code'] : $json.verification_code }}\n",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        96
      ],
      "id": "59c0923d-f782-48a2-be84-9116f0b67f71",
      "name": "Set Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "800e8dd7-331b-45a5-9053-784638552123",
              "leftValue": "={{ $json.verification_code }}",
              "rightValue": "={{ $('Create Token').item.json.random_token }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -64,
        96
      ],
      "id": "8e012985-969a-43f8-a112-3b121d0de64e",
      "name": "Code Correct?"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "<!-- Your custom HTML here --->\nThe code you entered was incorrect.<br><br>\n\n"
            },
            {
              "fieldLabel": "verification code",
              "fieldType": "number",
              "placeholder": "INCORRECT - TRY AGAIN",
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Try Again"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        64,
        288
      ],
      "id": "aa0bf156-3580-4b3a-9fe6-d31c6a5d06fc",
      "name": "Verify",
      "webhookId": "48c18ec7-4bb2-4146-b23d-840a723dc65c"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "email verified",
        "completionMessage": "Verification successful! You can now continue to your account",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        144,
        0
      ],
      "id": "e7000bea-19b1-4796-8185-c4240b703eae",
      "name": "Form1",
      "webhookId": "e1582f85-118d-4e29-b864-eacdee5f891d"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email address'] }}",
        "subject": "Login security code",
        "emailType": "text",
        "message": "=Hi {{ $json[\"First name\"] }}, \n\nVerification code: {{ $json.random_token }}\n\nThanks",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -736,
        96
      ],
      "id": "c0990199-a0a6-413e-9cf8-7b9ab86ebd51",
      "name": "Verification Email",
      "webhookId": "5187ae12-e84b-4c35-8d68-d2c2eaa42cc0",
      "credentials": {
        "gmailOAuth2": {
          "id": "FA0PDso5RMjBQntG",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Create Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "Set Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Token": {
      "main": [
        [
          {
            "node": "Verification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Code": {
      "main": [
        [
          {
            "node": "Code Correct?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Correct?": {
      "main": [
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify": {
      "main": [
        [
          {
            "node": "Set Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verification Email": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "4320758f5196477e45fd34eff36296a09822556b58d06f4a73b0c972f5cf03ac"
  }
}
