manual lead gen and  scaping
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Retrieve the input data from node A.\nlet inputData = $node[\"Code\"].json;\n// If the output is an array, take the first element; otherwise, use it as is.\nif (Array.isArray(inputData)) {\n  inputData = inputData[0];\n}\n\n// Now, access the \"query\" property. \n// We expect \"query\" to be an array, so take its first element.\nconst paramsData = inputData.query[0];\n\n// Base URL for Apollo\nconst baseURL = 'https://app.apollo.io/#/people';\n\n// Array to hold each part of the query string\nconst queryParts = [];\n\n// Add static parameters\nqueryParts.push('sortByField=recommendations_score');\nqueryParts.push('sortAscending=false');\nqueryParts.push('page=1');\n\n// Helper function to process and add array parameters to queryParts\nconst addArrayParams = (paramName, values) => {\n  values.forEach(val => {\n    // Replace '+' with space then encode the value \n    // (e.g., \"sydney+australia\" -> \"sydney australia\" -> \"sydney%20australia\")\n    const decodedValue = val.replace(/\\+/g, ' ');\n    queryParts.push(`${paramName}[]=${encodeURIComponent(decodedValue)}`);\n  });\n};\n\n// Process job titles (maps to personTitles[])\nif (paramsData.job_title && Array.isArray(paramsData.job_title)) {\n  addArrayParams('personTitles', paramsData.job_title);\n}\n\n// Process locations (maps to personLocations[])\nif (paramsData.location && Array.isArray(paramsData.location)) {\n  addArrayParams('personLocations', paramsData.location);\n}\n\n// Process business keywords (maps to qOrganizationKeywordTags[])\nif (paramsData.business && Array.isArray(paramsData.business)) {\n  addArrayParams('qOrganizationKeywordTags', paramsData.business);\n}\n\n// Add static included organization keyword fields\nqueryParts.push('includedOrganizationKeywordFields[]=tags');\nqueryParts.push('includedOrganizationKeywordFields[]=name');\n\n// Combine all query parts with '&' to form the full query string\nconst queryString = queryParts.join('&');\n\n// Build the final URL\nconst finalURL = `${baseURL}?${queryString}`;\n\n// Return the output as an array of objects\nreturn [{ json: { finalURL } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        336
      ],
      "id": "449114df-fec5-4044-8175-0dfff13cda44",
      "name": "Create URL"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $json['personal email'] }}",
        "additionalFields": {
          "companyName": "={{ $json['company name'] }}",
          "country": "={{ $json.location }}",
          "firstName": "={{ $json.name }}",
          "industry": "={{ $json.industry }}",
          "jobTitle": "={{ $json['job titel'] }}",
          "linkedinUrl": "={{ $json['linkedin url'] }}",
          "websiteUrl": "={{ $json['website url'] }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        2016,
        608
      ],
      "id": "39147bfc-4447-48c0-8eaa-27a6649426fd",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "AGQ4JXuaDCW1IN1Q",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "lead details",
        "formFields": {
          "values": [
            {
              "fieldLabel": "location"
            },
            {
              "fieldLabel": "business"
            },
            {
              "fieldLabel": "job_title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        64,
        336
      ],
      "id": "f4ebb34a-5124-48b8-bec9-4c08319c9006",
      "name": "On form submission",
      "webhookId": "a928695b-2b7f-4427-8700-e96747c10cf6"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node JavaScript\n// This code processes each input item, transforms the comma-separated and space-separated strings in location, business, and job_title\n// by replacing spaces and commas with '+' and wrapping them in the specified query structure.\n// Ignores other fields like submittedAt and formMode.\n\nconst inputItems = $input.all();\n\nreturn inputItems.map(item => {\n  const data = item.json;\n  \n  // Transform each field by replacing spaces and commas with '+'\n  const transformedLocation = data.location ? data.location.replace(/ /g, '+').replace(/,/g, '+') : '';\n  const transformedBusiness = data.business ? data.business.replace(/ /g, '+').replace(/,/g, '+') : '';\n  const transformedJobTitle = data.job_title ? data.job_title.replace(/ /g, '+').replace(/,/g, '+') : '';\n  \n  return {\n    json: {\n      query: [{\n        location: [transformedLocation],\n        business: [transformedBusiness],\n        job_title: [transformedJobTitle]\n      }]\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        336
      ],
      "id": "6fcc76ac-c015-4ccc-b086-f45db50e8df7",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        784,
        464
      ],
      "id": "e413146a-d33c-44b5-946d-7ae6fefa79f5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1488,
        480
      ],
      "id": "d81664f9-9c61-4372-8943-a170e52943cc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "clearDeduplicationHistory",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1184,
        464
      ],
      "id": "b61b0274-9e18-45da-8105-e0e8007e193f",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "994d3a13-7060-4517-bd2a-3ae3bd1c7d82",
              "name": "personal email",
              "value": "={{ $json.personal_email || \"null@gmail.com\" }}",
              "type": "string"
            },
            {
              "id": "ce33be78-172c-44b9-8b63-42d324fced8b",
              "name": "company name",
              "value": "={{ $json.organization_name }}",
              "type": "string"
            },
            {
              "id": "2d4c78a1-fafa-4d04-8efd-f9d2eaae86ac",
              "name": "website url",
              "value": "={{ $json.organization_website_url }}",
              "type": "string"
            },
            {
              "id": "6e93198c-6eea-4e6c-87f9-be2f5f8a549d",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "f9efd527-2d0e-48f1-8b38-5fbbaefecd35",
              "name": "job titel",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "c25bb084-0f2d-442f-9ca5-20c35d59ea46",
              "name": "industry",
              "value": "={{ $json.industry }}",
              "type": "string"
            },
            {
              "id": "1946316a-5cde-473c-b4f8-7a2979df64b1",
              "name": "location",
              "value": "={{ $json.city }},{{ $json.state }},{{ $json.country }}",
              "type": "string"
            },
            {
              "id": "e6acf989-33dc-4a10-9d82-a4c1e78d5176",
              "name": "linkedin url",
              "value": "={{ $json.linkedin_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        464
      ],
      "id": "3693c618-1581-4805-96b1-fb202bd5a522",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "Create URL": {
      "main": [
        []
      ]
    },
    "Create or update a contact": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "first_name": "Andy",
        "last_name": "Alibaksh",
        "email": "aalibaksh@cafe-diem.com",
        "personal_email": "cafediem3@yahoo.com",
        "organization_name": "Cafe Diem",
        "organization_website_url": "http://www.cafe-diem.com",
        "linkedin_url": "http://www.linkedin.com/in/andy-alibaksh-0a91a535",
        "name": "Andy Alibaksh",
        "photo_url": "https://media.licdn.com/dms/image/v2/C5603AQHDw9fR6CXBTw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1516580424645?e=2147483647&v=beta&t=481z7BHAaxvxcLfY_sz9dSy4Lc3w50vtCHyW4sAz_2Y",
        "title": "CEO",
        "industry": "food & beverages",
        "headline": "ceo at cafediem",
        "seniority": "c_suite",
        "estimated_num_employees": "10",
        "city": "Atlanta",
        "state": "Georgia",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68c14cbd43ed040001f46f15/picture",
        "organization_annual_revenue": "29853000",
        "organization_annual_revenue_printed": "29.9M",
        "organization_seo_description": "",
        "organization_short_description": "Café Diem is independent and locally owned coffee house.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "coffee & tea, coffee roasteries, food",
        "organization_technologies": "Apache, GoDaddy Hosting, Google Font API, Google Maps, Google Tag Manager, Mobile Friendly, Remote, Typekit, WordPress.org, YouTube",
        "email_domain_catchall": false,
        "id": "54a5b1b5746869367627a7a0",
        "organization_id": "57c4f5efa6da986a13252e0c",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/cafe-diem",
        "organization_linkedin_uid": "9838390",
        "organization_twitter_url": null,
        "organization_facebook_url": "https://facebook.com/cafediem.ames",
        "organization_founded_year": 2000,
        "organization_primary_domain": "cafe-diem.com",
        "organization_phone": "+1 515-956-3556",
        "organization_street_address": "2005 S Ankeny Blvd",
        "organization_raw_address": "2005 S Ankeny Blvd, Suite 700, Ankeny, Iowa 50023, US",
        "organization_state": "Iowa",
        "organization_city": "Ankeny",
        "organization_country": "United States",
        "organization_postal_code": "50023-5427",
        "organization_market_cap": null
      },
      {
        "first_name": "James",
        "last_name": "Worthington",
        "email": "james@kneaders.com",
        "organization_name": "Kneaders Bakery and Cafe",
        "organization_website_url": "http://www.kneaders.com",
        "linkedin_url": "http://www.linkedin.com/in/james-worthington",
        "name": "James Worthington",
        "photo_url": "https://media.licdn.com/dms/image/v2/C5603AQF-QGOd4BPdyg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1516276695419?e=1753315200&v=beta&t=vnSHG0W_3ZS52at9Uos1I9TyccuJP8GMllYyQ8sn0k4",
        "title": "CEO",
        "industry": "restaurants",
        "headline": "CEO at Kneaders Bakery and Cafe",
        "seniority": "c_suite",
        "estimated_num_employees": "780",
        "city": "Orem",
        "state": "Utah",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68cb92a96a61300001c1ddc5/picture",
        "organization_annual_revenue": "85555000",
        "organization_annual_revenue_printed": "85.6M",
        "organization_seo_description": "",
        "organization_short_description": "Some 25+ years ago Gary and Colleen Worthington began their journey together to learn and perfect the art of baking artisan European breads. After many hours working in the kitchen they finally opened their first bakery in Orem, Utah during the fall of 1997. We know this successful bakery today as Kneaders. Kneaders has become a local favorite due to its high-quality food and home-like atmosphere. \n\nOur recipes are tried and true, perfected over the years, and specifically hand-crafted for the home baker. We want you to experience Kneaders in your own home, so we've included some of our award-winning recipes, such as, Rosemary Focaccia Bread, Chunky Cinnamon French Toast, Flourless Chocolate Torte, Artichoke Portobello Soup, and Raspberry Bread Pudding. With over 180 delicious recipes, you'll find a wide array of our favorite sandwiches, soups, breads, cakes, pastries, pies, and much more from our bakery. \n\nFrom our kitchen to yours, we are thrilled you are a part of our family.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "sandwiches, breads, bakery, soup, smoothies, desserts, salads, happiness, employment, professional growth, personal growth, food, fun, cafe, donations, sponsorships, refreshments, event catering, gift cards, gift baskets, fundraising, community support, 501(c)3, mission statement, organization partnerships, event logistics, food services, local ingredients, custom orders, menu offerings, treats, baked goods, coffee, pastries, breakfast items, lunch options, healthy choices, family-friendly, artisan bread, catering services, special events, charity events, local businesses, community outreach, customer experience, restaurant locations, franchise opportunities, food quality, seasonal offerings, online ordering, pickup service, delivery, customer service, loyalty programs, health-conscious, fresh ingredients, cuisine variety, nut-free options, popular dishes, consumer goods, consumers, fund-raising, e-commerce, consumer internet, internet, information technology & services, bakeries, breakfast & brunch, cafes, restaurants",
        "organization_technologies": "Adobe Media Optimizer, Amazon AWS, Android, Cedexis Radar, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Flutter, Freshdesk, Gmail, Google Analytics, Google Apps, Google Cloud Hosting, Google Font API, Google Maps, Google Maps (Non Paid Users), Google Tag Manager, Linkedin Marketing Solutions, Mobile Friendly, Netlify, Python, Remote, SharePoint, Shopify, The Trade Desk, Vimeo, WordPress.org, reCAPTCHA",
        "email_domain_catchall": false,
        "id": "64ca56c46133f500018ddf1a",
        "organization_id": "54a12b4e69702d9313baaa02",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/kneaders-bakery-and-cafe",
        "organization_linkedin_uid": "1844246",
        "organization_twitter_url": "https://twitter.com/kneaders",
        "organization_facebook_url": "https://facebook.com/kneaders?ref=ts",
        "organization_founded_year": 1997,
        "organization_primary_domain": "kneaders.com",
        "organization_phone": "+1 801-221-7064",
        "organization_street_address": "1980 North State Street",
        "organization_raw_address": "1980 N State St, Orem, UT 84057, US",
        "organization_state": "Utah",
        "organization_city": "Orem",
        "organization_country": "United States",
        "organization_postal_code": "84057",
        "organization_market_cap": null
      },
      {
        "first_name": "Michelle",
        "last_name": "Coleman",
        "email": null,
        "personal_email": "melfimichelle@yahoo.com",
        "organization_name": "Fusion Cafe",
        "organization_website_url": "http://www.fusioncafe100.com",
        "linkedin_url": "http://www.linkedin.com/in/cafefusioninc",
        "name": "Michelle Coleman",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "CEO",
        "industry": "restaurants",
        "headline": "Cafe Fusion, Inc",
        "seniority": "c_suite",
        "estimated_num_employees": "67",
        "city": "San Diego",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/63edac0a998f12000100b12d/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "Visit us online for coupons, special offers, online ordering. Delicious & hot Chinese food is just mouse clicks away!",
        "organization_short_description": "Fusion Cafe is a Restaurants company located in 69 State St, Albany, New York, United States.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "dine-in, takeout, online ordering, menu variety, healthy options, coffee, breakfast, lunch, dinner, fusion cuisine, family-friendly, local ingredients, food delivery, seasonal menu, catering, specials, vegan options, gluten-free, soups, salads, sandwiches, wraps, desserts, snacks, beverages, smoothies, sandwich shop, food quality, customer service, restaurant ambiance, daily specials, food presentation, chef specials, artisan bread, award-winning, home-cooked, quick service, fresh produce, comfort food, food pairing, lifestyle menu, caffeine beverages, culinary experience, sustainable sourcing, imported coffee, food photography, restaurant reviews, community focused",
        "organization_technologies": "Apache, GoDaddy Hosting, Google Font API, Remote",
        "email_domain_catchall": false,
        "id": "54a48de574686932092a9750",
        "organization_id": "559220b073696418bc4a8300",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/fusion-cafe",
        "organization_linkedin_uid": "5558131",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": null,
        "organization_primary_domain": "fusioncafe100.com",
        "organization_phone": "+1 414-257-1199",
        "organization_street_address": "",
        "organization_raw_address": "Albany, New York, United States",
        "organization_state": "New York",
        "organization_city": "Albany",
        "organization_country": "United States",
        "organization_postal_code": null,
        "organization_market_cap": null
      },
      {
        "first_name": "Taron",
        "last_name": "Badalian",
        "email": "taron@dalianscafe.com",
        "organization_name": "Dalian's Cafe",
        "organization_website_url": "http://www.dalianscafe.com",
        "linkedin_url": "http://www.linkedin.com/in/taronbadalian",
        "name": "Taron Badalian",
        "photo_url": "https://media.licdn.com/dms/image/v2/D5603AQGE7ORTq-y_VQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1728774039889?e=2147483647&v=beta&t=UOb3bo_r_sPt9nyYieVxehZ0fs_Q6lKbtbwKvmM2I2o",
        "title": "Co-Founder & CEO",
        "industry": "restaurants",
        "headline": "Co-Founder of Dalian's Cafe | Building a Coffee Shop Brand | Exploring Growth and Expansion Opportunities",
        "seniority": "founder",
        "estimated_num_employees": "1",
        "city": "Los Angeles",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68b3d15041d1130001b4cbe2/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "Dalian's Cafe - Nestled in the heart of downtown Los Angeles, Dalian's Cafe offers an exquisite coffee experience that blends the warmth of tradition with modern flair. Our passion for organic, ethically-sourced beans ensures every cup is rich, smooth, and bursting with flavor. Indulge in our carefully curated selection of ready-to-eat desserts, perfect for any time of day. Whether you're grabbing a quick to-go coffee on your way to work or enjoying a leisurely sip at our charming outdoor seating area, Dalian's Cafe is your coffee oasis. Located conveniently next to the historic Biltmore Hotel and across from the Hilton Hotel, we invite you to escape the hustle and bustle and savor a moment of pure delight.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "coffee, espresso, dessert, pastry",
        "organization_technologies": "Gmail, Google Apps, Mobile Friendly, Squarespace ECommerce, Typekit",
        "email_domain_catchall": false,
        "id": "5d62e7de80f93e9461a4e56f",
        "organization_id": "673eb0021ba62d01b0b12c64",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/dalian-s-cafe",
        "organization_linkedin_uid": "103706225",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2024,
        "organization_primary_domain": "dalianscafe.com",
        "organization_phone": "+1 213-559-0009",
        "organization_street_address": "530 S Grand Ave",
        "organization_raw_address": "530 S Grand Ave, Los Angeles, California 90071, US",
        "organization_state": "California",
        "organization_city": "Los Angeles",
        "organization_country": "United States",
        "organization_postal_code": "90071-2602",
        "organization_market_cap": null
      },
      {
        "first_name": "Reina",
        "last_name": "Carrillo",
        "email": null,
        "organization_name": "GVA Cafe (Grinds Vines Automobilia Cafe)",
        "organization_website_url": "http://www.gvacafe.com",
        "linkedin_url": "http://www.linkedin.com/in/reina-renee-de-la-torre-carrillo-55babbb9",
        "name": "Reina Carrillo",
        "photo_url": "https://media.licdn.com/dms/image/v2/C5603AQEyi3mxB_v3KA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1516923368646?e=2147483647&v=beta&t=rOjjj6YzJ6Y2vL-Q_M84S2Rj9h6Ioe7_RDAI-EyNxbc",
        "title": "Founder and CEO",
        "industry": "restaurants",
        "headline": "Owner at GVA Cafe Bistro Catering Music (Grinds Vines Automobilia Cafe)",
        "seniority": "founder",
        "estimated_num_employees": "4",
        "city": "Morgan Hill",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/67139ab5c18f1600018f897b/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "17400 Monterey Road, corner of 2nd Street, downtown Morgan Hill, California 95037 • Call us on +1-408-776-0571 or drop by. Next to the Granada Theater • 21 coffees • restaurant & catering • Free fast Wi-Fi • Food Wine Beer Burgers Pizza Breakfast Lunch Dinner Gelato House-made Pastries crepes smoothies steak sandwiches • Live Music Live Bands Internet cafe Nightlife Concerts Events GVX Talks Panels Demos Meetups Chris and Friends Open Mic",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "wine, cafe, restaurant, catering, live music, beer, internet cafe, live events, events, events services, wine & spirits, food & beverages, consumer goods, consumers, cafes, coffee & tea, food, gelato, restaurants",
        "organization_technologies": "",
        "email_domain_catchall": false,
        "id": "5f0ea354c132690001e85772",
        "organization_id": "55f595e6f3e5bb7eba001117",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/gva-cafe-grinds-vines-automobilia-cafe-",
        "organization_linkedin_uid": "9486524",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2012,
        "organization_primary_domain": "gvacafe.com",
        "organization_phone": "+1 408-776-0571",
        "organization_street_address": "17400 Monterey Street",
        "organization_raw_address": "17400 Monterey St, Ste 1B, Morgan Hill, CA 95037",
        "organization_state": "California",
        "organization_city": "Morgan Hill",
        "organization_country": "United States",
        "organization_postal_code": "95037",
        "organization_market_cap": null
      },
      {
        "first_name": "Michael",
        "last_name": "Giamarino",
        "email": "mgiamarino@classiccafe.org",
        "organization_name": "Classic Cafe Management",
        "organization_website_url": "http://www.classiccafe.org",
        "linkedin_url": "http://www.linkedin.com/in/michael-giamarino-69120984",
        "name": "Michael Giamarino",
        "photo_url": "https://media.licdn.com/dms/image/v2/C5603AQE4a4ixQZct1A/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1653520759077?e=2147483647&v=beta&t=W_hPQb7gWMenuqp51SVkIWhhq2HiNLRwO2-7XyR-Txo",
        "title": "President/CEO",
        "industry": "restaurants",
        "headline": "President/CEO",
        "seniority": "c_suite",
        "estimated_num_employees": "23",
        "city": "East Hanover",
        "state": "New Jersey",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/67288bba6f116c0001ae1f2a/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "Classic Cafe Management is a food and beverage services company based in East Hanover, NJ with locations all over NJ and NY.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "",
        "organization_technologies": "Apache, Google Font API, Mobile Friendly, WordPress.org",
        "email_domain_catchall": false,
        "id": "57ddce09a6da987b65e653a3",
        "organization_id": "63cdbb3b98f75700019fe571",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/classic-cafe-management",
        "organization_linkedin_uid": "57014812",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2001,
        "organization_primary_domain": "classiccafe.org",
        "organization_phone": null,
        "organization_street_address": "383 Ridgedale Ave",
        "organization_raw_address": "383 Ridgedale Ave, Suite 4, East Hanover, New Jersey 07936, US",
        "organization_state": "New Jersey",
        "organization_city": "East Hanover",
        "organization_country": "United States",
        "organization_postal_code": "07936-1400",
        "organization_market_cap": null
      },
      {
        "first_name": "John",
        "last_name": "Dillon",
        "email": null,
        "organization_name": "la Madeleine Bakery & Cafe",
        "organization_website_url": "http://www.lamadeleine.com",
        "linkedin_url": "http://www.linkedin.com/in/dillonjohnw",
        "name": "John Dillon",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4D03AQHEyf2P5QzBgw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1547757007741?e=2147483647&v=beta&t=ruzqbndzBmYdR6lYB-wOat5BHj3CBVZ_j7nIVHguAoQ",
        "title": "Chief Executive Officer",
        "industry": "restaurants",
        "headline": "CEO | Board Director | Advisor | Mentor",
        "seniority": "c_suite",
        "estimated_num_employees": "850",
        "city": "Dallas",
        "state": "Texas",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68c1b16c455d18000155dc11/picture",
        "organization_annual_revenue": "220000000",
        "organization_annual_revenue_printed": "220M",
        "organization_seo_description": "User App",
        "organization_short_description": "Since opening the doors of our first location in 1983, la Madeleine has grown from a single local bakery to a beloved French café concept with approximately 85 locations nationwide. Our plan is to continue growth with new cafés in our existing markets, as well as in new franchise markets.\n\nOur passion for serving handcrafted, crave-worthy country French-inspired dishes makes us a favorite with critics and guests alike. Our casual French home atmosphere and versatile menu makes us the perfect place for any meal or a special afternoon treat. La Madeleine guests are greeted with a friendly \"bonjour\" and an inviting ambiance where they can relax while enjoying time with friends and family. With a menu that satisfies cravings morning, noon, and night, it's no wonder our guests keep coming back.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "french bakery cafe, country french cuisine, signature soups, salads, sandwiches & french specialties, pastries, viennoiserie, artisan breads, desserts, catering, bakeries, breakfast & brunch, cafes, food, french, restaurants, sandwiches",
        "organization_technologies": "Barracuda Networks, Bluekai, Cloudflare DNS, Dotomi, DoubleClick, DoubleClick Conversion, DoubleClick Floodlight, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Google AdWords Conversion, Google Analytics, Google Dynamic Remarketing, Google Font API, Google Maps, Google Maps (Non Paid Users), Google Tag Manager, Microsoft Office 365, Mobile Friendly, Outlook, Remote, Sendgrid, Shopify, Simpli.fi, Sizmek (MediaMind), WordPress.org",
        "email_domain_catchall": true,
        "id": "6620cb476ed5de0007eefa25",
        "organization_id": "559217c473696418f6556300",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/la-madeleine",
        "organization_linkedin_uid": "39018",
        "organization_twitter_url": "https://twitter.com/lamadeleine",
        "organization_facebook_url": "https://facebook.com/laMadeleineCafe",
        "organization_founded_year": 1983,
        "organization_primary_domain": "lamadeleine.com",
        "organization_phone": "+1 214-696-6962",
        "organization_street_address": "12201 Merit Drive",
        "organization_raw_address": "12201 Merit Drive, Dallas, TX 75251, US",
        "organization_state": "Texas",
        "organization_city": "Dallas",
        "organization_country": "United States",
        "organization_postal_code": "75251",
        "organization_market_cap": null
      },
      {
        "first_name": "Olivier",
        "last_name": "Dispas",
        "email": "olivier@farinecafe.com",
        "organization_name": "Farine Bakery & Cafe",
        "organization_website_url": "http://www.farinecafe.com",
        "linkedin_url": "http://www.linkedin.com/in/olivier-dispas",
        "name": "Olivier Dispas",
        "photo_url": "https://media.licdn.com/dms/image/v2/C5603AQFLwIPSk0dElQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1537809930222?e=2147483647&v=beta&t=fFI6sSzuDDGaWC_BKxE_sMfQnH4DqacDtANUs5hvnEk",
        "title": "Founder, CEO",
        "industry": "food & beverages",
        "headline": "Owner of Farine Bakery & Cafe | Board Advisor at Enlyft",
        "seniority": "founder",
        "estimated_num_employees": "20",
        "city": "Redmond",
        "state": "Washington",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/6701594679506f0001618312/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "Farine Bakery & Cafe inspired by the bakery and cafe traditions of Belgium",
        "organization_short_description": "\"Farine\" means flour and to us, that means that we start from scratch every day to bring delicious, authentic French and Belgian breads, pastries and other delights here to our neighborhood.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "food & beverage services, bakery, cafe, belgian cuisine, french cuisine, fresh bread, pastries, desserts, catering, gift cards, order online, pickup, takeout, indoor dining, outdoor dining, street parking, retail parking, culinary experience, pacific northwest, community, brasserie-style meals, tartines, waffles, salads, environmental sustainability, locally sourced, compostable products, high quality, customer service, team culture, restaurant, local bakery, food delivery, meal delivery, food pickup, digital gift cards, event catering, food menu, beverages, bistro fare, food & drink, unique flavors, culinary traditions, community-focused, dining experience, teamwork, restaurant reservation, daily specials, family-friendly, convenient location, bakery gifts, food & beverages, consumer goods, consumers, communities",
        "organization_technologies": "Android, Google Analytics, Google Cloud Hosting, Google Tag Manager, Mobile Friendly, Varnish, Wix",
        "email_domain_catchall": false,
        "id": "60506489d273b40001d0acd3",
        "organization_id": "5e576bdcb3281d0001301787",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/farine-bakery-cafe-llc",
        "organization_linkedin_uid": "28377767",
        "organization_twitter_url": null,
        "organization_facebook_url": "https://www.facebook.com/farinebakerycafe",
        "organization_founded_year": 2019,
        "organization_primary_domain": "farinecafe.com",
        "organization_phone": "+1 425-898-4525",
        "organization_street_address": "16617 NE 47th St",
        "organization_raw_address": "16617 NE 47th St NE, Redmond, WA 98052, US",
        "organization_state": "Washington",
        "organization_city": "Redmond",
        "organization_country": "United States",
        "organization_postal_code": "98052",
        "organization_market_cap": null
      },
      {
        "first_name": "Michael",
        "last_name": "Shumsky",
        "email": null,
        "personal_email": "mshumsky@cox.net",
        "organization_name": "la Madeleine Bakery & Cafe",
        "organization_website_url": "http://www.lamadeleine.com",
        "linkedin_url": "http://www.linkedin.com/in/michaelshumsky",
        "name": "Michael Shumsky",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "CEO",
        "industry": "restaurants",
        "headline": "CEO la Madeleine restaurant group",
        "seniority": "c_suite",
        "estimated_num_employees": "850",
        "city": "Plano",
        "state": "Texas",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68c1b16c455d18000155dc11/picture",
        "organization_annual_revenue": "220000000",
        "organization_annual_revenue_printed": "220M",
        "organization_seo_description": "User App",
        "organization_short_description": "Since opening the doors of our first location in 1983, la Madeleine has grown from a single local bakery to a beloved French café concept with approximately 85 locations nationwide. Our plan is to continue growth with new cafés in our existing markets, as well as in new franchise markets.\n\nOur passion for serving handcrafted, crave-worthy country French-inspired dishes makes us a favorite with critics and guests alike. Our casual French home atmosphere and versatile menu makes us the perfect place for any meal or a special afternoon treat. La Madeleine guests are greeted with a friendly \"bonjour\" and an inviting ambiance where they can relax while enjoying time with friends and family. With a menu that satisfies cravings morning, noon, and night, it's no wonder our guests keep coming back.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "french bakery cafe, country french cuisine, signature soups, salads, sandwiches & french specialties, pastries, viennoiserie, artisan breads, desserts, catering, bakeries, breakfast & brunch, cafes, food, french, restaurants, sandwiches",
        "organization_technologies": "Barracuda Networks, Bluekai, Cloudflare DNS, Dotomi, DoubleClick, DoubleClick Conversion, DoubleClick Floodlight, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Google AdWords Conversion, Google Analytics, Google Dynamic Remarketing, Google Font API, Google Maps, Google Maps (Non Paid Users), Google Tag Manager, Microsoft Office 365, Mobile Friendly, Outlook, Remote, Sendgrid, Shopify, Simpli.fi, Sizmek (MediaMind), WordPress.org",
        "email_domain_catchall": false,
        "id": "602ff51a39a4ea0001b409bd",
        "organization_id": "559217c473696418f6556300",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/la-madeleine",
        "organization_linkedin_uid": "39018",
        "organization_twitter_url": "https://twitter.com/lamadeleine",
        "organization_facebook_url": "https://facebook.com/laMadeleineCafe",
        "organization_founded_year": 1983,
        "organization_primary_domain": "lamadeleine.com",
        "organization_phone": "+1 214-696-6962",
        "organization_street_address": "12201 Merit Drive",
        "organization_raw_address": "12201 Merit Drive, Dallas, TX 75251, US",
        "organization_state": "Texas",
        "organization_city": "Dallas",
        "organization_country": "United States",
        "organization_postal_code": "75251",
        "organization_market_cap": null
      },
      {
        "first_name": "Vincent",
        "last_name": "Derosa",
        "email": "vince@picassoscafe.com",
        "organization_name": "Picasso's Cafe Bakery and Catering Co",
        "organization_website_url": "http://www.picassoscafe.com",
        "linkedin_url": "http://www.linkedin.com/in/vince-derosa-9770a259",
        "name": "Vincent Derosa",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "Chief Executive Officer",
        "industry": "restaurants",
        "headline": "--",
        "seniority": "c_suite",
        "estimated_num_employees": "7",
        "city": "West Palm Beach",
        "state": "Florida",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66e3c2b7d36e7c0001be505b/picture",
        "organization_annual_revenue": "15895000",
        "organization_annual_revenue_printed": "15.9M",
        "organization_seo_description": "",
        "organization_short_description": "As the community's largest local private catering company with over 24 years of business, Picasso's is focused on providing our dining guests in Irwindale and catering guests worldwide, with quality food products and events, and consistent service at a competitive price. Picasso's is committed to sustaining local growers and is guided by ecologically- and socially-responsible food choices and continues to be a conscientious industry leader in the community by giving back through our charitable initiatives.  \n\nFor more information, visit www.PicassosCafe.com. \n\nFollow Picasso's on Twitter at @picassos.\n\n\"Like\"  us on Facebook at Facebook.com/picassosirwindale\n\nOr give us a call: 626 969 6100",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "restaurant, cafe, catering, bakery, american (traditional), bakeries, caterers, event planning & services, food, restaurants",
        "organization_technologies": "Outlook",
        "email_domain_catchall": false,
        "id": "660fac15c45f7e00073c41bb",
        "organization_id": "54a1aa7c74686942d38c1506",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/picasso's-cafe-bakery-and-catering-co",
        "organization_linkedin_uid": "2521819",
        "organization_twitter_url": "https://twitter.com/picassos",
        "organization_facebook_url": "https://facebook.com/picassosirwindale",
        "organization_founded_year": 1989,
        "organization_primary_domain": "picassoscafe.com",
        "organization_phone": "+1 626-969-6100",
        "organization_street_address": "6070 N Irwindale Ave",
        "organization_raw_address": "6070 N. Irwindale Ave., Suite A-D, Irwindale, California 91702, US",
        "organization_state": "California",
        "organization_city": "Irwindale",
        "organization_country": "United States",
        "organization_postal_code": "91702",
        "organization_market_cap": null
      },
      {
        "first_name": "Laura",
        "last_name": "Hall",
        "email": "l.hall@smt.com",
        "organization_name": "The Refectory Cafe",
        "organization_website_url": "http://www.therefectorycafe.com",
        "linkedin_url": "http://www.linkedin.com/in/laura-hall-1bb8a816",
        "name": "Laura Hall",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "Founder & CEO",
        "industry": "restaurants",
        "headline": "The Refectory Cafe - Delicious & Nutritious",
        "seniority": "founder",
        "estimated_num_employees": "22",
        "city": "Durham",
        "state": "North Carolina",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66e63c40e1b8ff0001701536/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "Hot, healthy, homemade & local.  Vegan, vegetarian, gluten free, plant based & omnivore.  All diets, always.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "wild caught salmon, healthy vegan raw salads, cold pressed vegan raw juice, local kombucha, lavassa espresso, fresh local beef, housemade pastries organic flour, award winning restaurant, local linecaught fish, eggs produce, welcoming service, gluten free breads pastries, patio dining, curated wine list, craft cocktails, vegan raw desserts, no hydrogenated fats or hfcs, no stryrofoam, slow food fast, eggs amp produce, gluten free breads amp pastries, homemade soups",
        "organization_technologies": "Amazon AWS, AngularJS, Bootstrap Framework, Cloudinary, Google Analytics, Google Tag Manager, Microsoft Office 365, Mobile Friendly, Outlook, Yelp, YouTube",
        "email_domain_catchall": false,
        "id": "6045630dcab87c0001f9fbf4",
        "organization_id": "55922e1873696418d780b300",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/the-refectory",
        "organization_linkedin_uid": "6528891",
        "organization_twitter_url": "https://twitter.com/Refectory",
        "organization_facebook_url": null,
        "organization_founded_year": 2005,
        "organization_primary_domain": "therefectorycafe.com",
        "organization_phone": "+1 919-908-6798",
        "organization_street_address": "2726 Durham Chapel Hill Blvd",
        "organization_raw_address": "2726 Durham Chapel Hill Blvd., Durham, NC 27707, US",
        "organization_state": "North Carolina",
        "organization_city": "Durham",
        "organization_country": "United States",
        "organization_postal_code": "27707",
        "organization_market_cap": null
      },
      {
        "first_name": "Blue",
        "last_name": "Moon",
        "email": null,
        "organization_name": "Blue Moon Cafe",
        "organization_website_url": "http://www.bluemoonbaltimore.com",
        "linkedin_url": "http://www.linkedin.com/in/blue-moon-1a4201171",
        "name": "Blue Moon",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4D03AQEn-LmE-bmChA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1537371042092?e=2147483647&v=beta&t=3EKCmM8aasrr9z8_zTvK8kjgyfN-Bk0QmtDo2esni90",
        "title": "CEO",
        "industry": "media production",
        "headline": null,
        "seniority": "c_suite",
        "estimated_num_employees": "55",
        "city": null,
        "state": "Kerala",
        "country": "India",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66e527360b743300018080de/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "The Blue Moon Cafe Fell's Point - Baltimore, MD",
        "organization_short_description": "The Blue Moon Cafe is a mainly acoustic radio show on TK99-Syracuse, NY, TK105-Oswego, NY and WOUR in Utica, NY. Airs Sundays, 7am to 12Noon.Created and hosted by Mimi Griswold.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "broadcast media production & distribution, american (traditional), breakfast & brunch, pizza, restaurants",
        "organization_technologies": "Apache, Bootstrap Framework, Google AdSense, Google Font API, Google Plus, Mobile Friendly, OpenSSL, Yandex Metrica, Yelp",
        "email_domain_catchall": false,
        "id": "54c1d54a746869163943074e",
        "organization_id": "5ed1884fa2a7080001c453a4",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/blue-moon-cafe",
        "organization_linkedin_uid": "6807986",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 1993,
        "organization_primary_domain": "bluemoonbaltimore.com",
        "organization_phone": "+1 410-522-3940",
        "organization_street_address": "1621 Aliceanna St",
        "organization_raw_address": "1621 aliceanna street, baltimore, md, united states",
        "organization_state": "Maryland",
        "organization_city": "Baltimore",
        "organization_country": "United States",
        "organization_postal_code": "21231-2925",
        "organization_market_cap": null
      },
      {
        "first_name": "Katrina",
        "last_name": "Killoran",
        "email": "kat@purrrlandia.com",
        "organization_name": "Purrrlandia Cat Lounge & Cafe",
        "organization_website_url": "http://www.purrrlandia.com",
        "linkedin_url": "http://www.linkedin.com/in/katrina-killoran-60a8786",
        "name": "Katrina Killoran",
        "photo_url": "https://media.licdn.com/dms/image/v2/D5603AQGoW3Ig1R5eOQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1715045216073?e=2147483647&v=beta&t=S3TU4K9868-dgsarduBvF9_vSJve0RIdBHWQ69rMcLk",
        "title": "Founder & CEO",
        "industry": "consumer services",
        "headline": "Founder & CEO, Purrrlandia",
        "seniority": "founder",
        "estimated_num_employees": "1",
        "city": "Los Angeles",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/6768f70165e60800019eb9c9/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "Discover Purrrlandia Cat Lounge & Cafe in Thousand Oaks, CA—a cozy \r\ncommunity haven where you can enjoy delicious coffee and connect with \r\nadoptable rescue cats. Our mission is to provide loving homes for cats \r\nwhile offering a relaxing environment for cat lovers. Visit us to unwind, \r\nadopt a furry friend, explore our unique cat-themed merchandise, and \r\nsupport our cause.",
        "organization_short_description": "Welcome to Purrrlandia Cat Lounge & Cafe.\n\nAt Purrrlandia, we are committed to enhancing the experience of rescue cats and creating a distinguished space for feline enthusiasts. Our establishment serves as both a sanctuary for rescue cats and a premier community hub for cat enthusiasts.\n\nOur Mission: \nPurrrlandia tackles the critical issue of shelter overcrowding while promoting responsible cat guardianship. We offer a serene and supportive environment where rescue cats can reveal their true personalities and find their forever homes, all within a space designed for relaxation and education.\n\nWhat We Offer:\n•\tSanctuary for Rescue Cats: We provide a compassionate and enriching environment tailored to the needs of rescue cats, focusing on alleviating shelter overcrowding through effective care and community education. \n•\tCommunity Hub for Cat Enthusiasts: Our cafe provides a refined setting where guests can enjoy high-quality refreshments while engaging with our adoptable rescue cats. Our space fosters meaningful interactions and nurtures a sense of community.\n\nCore Values:\n•\tCompassion: We are dedicated to creating an environment where cats thrive and educating our community on adoption and responsible guardianship.\n•\tConnection: We emphasize the value of meaningful connections between people and cats, contributing to a more engaged and supportive community.\n•\tInnovation: Our approach integrates relaxation, rescue, and education, continually seeking ways to enhance the experience for both our feline residents and our guests.\n\nWe invite you to follow our page for updates on our initiatives, events, and opportunities to support our mission. Your support helps us enrich the lives of rescue cats and strengthen our community.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "pet services, consumer services",
        "organization_technologies": "Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Google Tag Manager, Mobile Friendly, NSOne, Outlook, Squarespace ECommerce",
        "email_domain_catchall": false,
        "id": "675c87f9d7ad74000121f7ab",
        "organization_id": "6768f6fafaf5fd00015fdd8b",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/purrrlandia",
        "organization_linkedin_uid": "104611668",
        "organization_twitter_url": null,
        "organization_facebook_url": "https://www.facebook.com/purrrlandiacatlounge/",
        "organization_founded_year": 2024,
        "organization_primary_domain": "purrrlandia.com",
        "organization_phone": "+1 818-230-2724",
        "organization_street_address": "728 N Moorpark Rd",
        "organization_raw_address": "728 N Moorpark Rd, Thousand Oaks, California 91360, US",
        "organization_state": "California",
        "organization_city": "Thousand Oaks",
        "organization_country": "United States",
        "organization_postal_code": "91360-3705",
        "organization_market_cap": null
      },
      {
        "first_name": "Gabe",
        "last_name": "Nabors",
        "email": null,
        "personal_email": "gabe.nabors@gmail.com",
        "organization_name": "Mustard Seed Market & Cafe",
        "organization_website_url": "http://www.mustardseedmarket.com",
        "linkedin_url": "http://www.linkedin.com/in/gabe-nabors-8a84a52b",
        "name": "Gabe Nabors",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4E03AQF_duIGZZ7cCg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1563110950360?e=2147483647&v=beta&t=8UVhXMnvkl5f6esUG-f8Jk4G-ZdlUiqTTFwXQ8IEZC8",
        "title": "Chief Executive Officer",
        "industry": "food & beverages",
        "headline": "Founder at Hemp Luxe. Learn more at Hempluxe.com ",
        "seniority": "c_suite",
        "estimated_num_employees": "120",
        "city": "Akron",
        "state": "Ohio",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68c9361df0b5e30001863d58/picture",
        "organization_annual_revenue": "8055000",
        "organization_annual_revenue_printed": "8.1M",
        "organization_seo_description": "",
        "organization_short_description": "Mustard Seed Market & Café is the largest locally-owned retailer of natural and organic products in Ohio. We've been part of the community since 1981 - a locally-owned family business. Our specialty is providing high quality natural and organic foods along with education and information on food issues and the environment. Whether you shop in the Markets or dine in our Highland Square restaurant, we are committed to helping you and your families enjoy healthier lives by providing healthier, great-tasting foods.\n\nMontrose\n3885 W. Market St.\nAkron, OH 44333\n(330) 666-7333\n\nHighland Square\n867 W. Market St. \nAkron, OH 44303\n(330) 434-7333",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "organic & natural foods, gluten free food, cafe, vegan & vegetarian food, food & beverage services, natural foods, organic grocery, health foods, sustainable eating, gluten-free options, vegan products, non-gmo, cruelty-free, gift cards, rewards program, local art, catered meals, prepared foods, bakery products, healthy lifestyle, customer rewards, military discounts, senior discounts, discount days, monthly sales, weekly specials, fresh produce, market delivery, pickup service, art exhibitions, community support, nutrition guidance, holistic wellness, clean eating, artisanal goods, fresh ingredients, home-cooked meals, family-owned, banquets & catering, shopping discounts, clean food policies, zero artificial additives, green standards, health-conscious, wholesome eating, healthy choices, local sourcing, pioneer in natural foods, satisfaction guarantee, responsible sourcing, seasonal offerings, dietary needs, premium grocery, food safety standards, health education, food & beverages, consumer goods, consumers, cafes, food, grocery, health markets, juice bars & smoothies, music venues, nightlife, organic stores, restaurants, specialty food",
        "organization_technologies": "Amazon AWS, Barracuda Networks, Bootstrap Framework, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Google Analytics, Google Font API, Google Maps, Google Maps (Non Paid Users), Google Plus, Google Tag Manager, Gravity Forms, Mobile Friendly, Nginx, Outlook, Quantcast, Remote, Stripe, Woo Commerce, WordPress.org, reCAPTCHA",
        "email_domain_catchall": false,
        "id": "6038adac83182e000133bec5",
        "organization_id": "54a12afb69702d9ebc4f3b02",
        "twitter_url": "https://twitter.com/mustardseedmrkt",
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/mustard-seed-market-&-cafe",
        "organization_linkedin_uid": "1946119",
        "organization_twitter_url": "https://twitter.com/mustardseedmrkt",
        "organization_facebook_url": "https://www.facebook.com/MustardSeedMarket/",
        "organization_founded_year": 1981,
        "organization_primary_domain": "mustardseedmarket.com",
        "organization_phone": "+1 330-666-7333",
        "organization_street_address": "3885 W Market St",
        "organization_raw_address": "3885 W. Market St., Akron, OH 44333, US",
        "organization_state": "Ohio",
        "organization_city": "Akron",
        "organization_country": "United States",
        "organization_postal_code": "44333",
        "organization_market_cap": null
      },
      {
        "first_name": "Marco",
        "last_name": "Reznick",
        "email": "marco@rustikacafe.com",
        "organization_name": "Rustika Cafe and Bakery",
        "organization_website_url": "http://www.rustikacafe.com",
        "linkedin_url": "http://www.linkedin.com/in/marco-reznick-2bb45b69",
        "name": "Marco Reznick",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4E03AQHpIyyim0XIFQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1647695873023?e=2147483647&v=beta&t=wjXBiLJMUNeIjefDBv0_xRfLt8wuEgzpiMoEOVkEsgk",
        "title": "Chief Executive Officer",
        "industry": "food & beverages",
        "headline": "Chief Executive Officer at Rustika Group, LLC.",
        "seniority": "c_suite",
        "estimated_num_employees": "6",
        "city": "Sugar Land",
        "state": "Texas",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68c8c9572869860001d192cb/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "Rustika Cafe and Bakery is a local, neighborhood cafe and bakery, where the community gathers over homemade pastries, cakes, dessert, coffee, breakfast, lunch, events, and custom cakes.",
        "organization_short_description": "Rustika Cafe and Bakery has been serving Houstonians for over 26 years! We pride ourselves in the quality of our products! All of our items are handmade, all natural, no added preservatives, and made with only the highest quality ingredients. We offer a full breakfast, lunch, and specialty menu in addition to our expansive dessert, cookies, and cake menu!",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "food & beverage services, food & beverages, consumer goods, consumers",
        "organization_technologies": "AI, Adobe Commerce, Android, Basis, Circle, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Flutter, Gmail, Google Apps, Google Cloud Hosting, Google Tag Manager, Magento, Mobile Friendly, Python, React Native, Remote, Render, Reviews, SAP, Varnish, Wix",
        "email_domain_catchall": false,
        "id": "607f379cc65cb9000171dd17",
        "organization_id": "5fcae9e7f513da0001014d25",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/rustika-cafe-and-bakery",
        "organization_linkedin_uid": "65301210",
        "organization_twitter_url": "https://twitter.com/rustikacafe",
        "organization_facebook_url": "https://www.facebook.com/rustikacafe",
        "organization_founded_year": 1994,
        "organization_primary_domain": "rustikacafe.com",
        "organization_phone": "+1 713-665-6226",
        "organization_street_address": "3237 Southwest Fwy",
        "organization_raw_address": "3237 Southwest Fwy, Houston, Texas 77027, US",
        "organization_state": "Texas",
        "organization_city": "Houston",
        "organization_country": "United States",
        "organization_postal_code": "77027",
        "organization_market_cap": null
      },
      {
        "first_name": "Kathryn",
        "last_name": "Broderick",
        "email": null,
        "organization_name": "Moon River Cafe",
        "organization_website_url": "http://www.themoonrivercafe.com",
        "linkedin_url": "http://www.linkedin.com/in/kathryn-a-broderick",
        "name": "Kathryn Broderick",
        "photo_url": "https://media.licdn.com/dms/image/v2/D4E03AQF0PwA8jQmvsg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1718381424600?e=2147483647&v=beta&t=g3i-aC2j9RBCOvOOwirDC5UOFvW8gk0HKIznzr0nYZE",
        "title": "Owner & CEO",
        "industry": "restaurants",
        "headline": "Owner of Moon River Cafe, the Cultural Heart of Historic Melbourne",
        "seniority": "owner",
        "estimated_num_employees": "1",
        "city": null,
        "state": null,
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66e7fccb587fa4000154a44d/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "Welcome to Moon River Cafe, opening Fall 2024, where the timeless elegance of art nouveau meets the vibrant flavors of Florida. Located in the heart of downtown Melbourne, our cafe offers a delightful fusion of European-inspired sandwiches with a tropical twist, complemented by a selection of exquisite artisan beverages. \n\nTreat yourself to a lavish afternoon tea at our Palm Court. Immerse yourself in the cultural richness of the Galleria, our in-house art gallery, along with poetry readings and local talent showcases. \n\nWhether you're seeking a serene spot for a gourmet meal, an elegant venue for your next event, or an enriching cultural experience, Moon River Cafe promises an unforgettable blend of refinement, flavor, and artistic inspiration.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "coffee, tea, afternoon tea, art, art gallery, community, art nouveau, destination, food & beverages, consumer goods, consumers, communities",
        "organization_technologies": "Gmail, Google Apps, Mobile Friendly, Squarespace ECommerce, Typekit",
        "email_domain_catchall": false,
        "id": "658e90dba0b2c00001b8ad3d",
        "organization_id": "66e7fcc979669d000116ad7c",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/moon-river-cafe",
        "organization_linkedin_uid": "104213114",
        "organization_twitter_url": null,
        "organization_facebook_url": "https://www.facebook.com/profile.php",
        "organization_founded_year": 2024,
        "organization_primary_domain": "themoonrivercafe.com",
        "organization_phone": null,
        "organization_street_address": "728 E New Haven Ave",
        "organization_raw_address": "728 E New Haven Ave, Melbourne, Florida 32901, US",
        "organization_state": "Florida",
        "organization_city": "Melbourne",
        "organization_country": "United States",
        "organization_postal_code": "32901-5431",
        "organization_market_cap": null
      },
      {
        "first_name": "Derek",
        "last_name": "Miles",
        "email": null,
        "personal_email": "dhmiles@gmail.com",
        "organization_name": "Uptaco",
        "organization_website_url": "http://www.uptaco.nyc",
        "linkedin_url": "http://www.linkedin.com/in/derek-miles-277bb445",
        "name": "Derek Miles",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4D03AQGrPjUvstM-4Q/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1609226699102?e=2147483647&v=beta&t=z9XqJ4A9xLx6xPUfnJC9PUAXTYmBNEjTjGdopwjydb4",
        "title": "Chief Executive Officer",
        "industry": "food & beverages",
        "headline": "Chief Executive Officer",
        "seniority": "c_suite",
        "estimated_num_employees": "1",
        "city": "New York",
        "state": "New York",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/6819b6e0aee1650001feeae9/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "New York City's best breakfast tacos. Partner with us for office catering, events, and more.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "breakfast, catering, wholesale, food & beverage services, food & beverages, consumer goods, consumers",
        "organization_technologies": "Circle, Gmail, Google Apps, Google Cloud Hosting, Mobile Friendly, Render, Varnish, Wix",
        "email_domain_catchall": false,
        "id": "54a4ad027468692cf0943c5a",
        "organization_id": "640034447e37a60001a45177",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/uptaco",
        "organization_linkedin_uid": "81572543",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2021,
        "organization_primary_domain": "uptaco.nyc",
        "organization_phone": null,
        "organization_street_address": "2191 3rd Ave",
        "organization_raw_address": "2191 Third Ave, New York, NY 10035, US",
        "organization_state": "New York",
        "organization_city": "New York",
        "organization_country": "United States",
        "organization_postal_code": "10035-3520",
        "organization_market_cap": null
      },
      {
        "first_name": "Brad",
        "last_name": "Buckenheimer",
        "email": "brad.buckenheimer@canopyroadcafe.com",
        "organization_name": "CANOPY ROAD CAFE LLC",
        "organization_website_url": "http://www.canopyroadcafe.com",
        "linkedin_url": "http://www.linkedin.com/in/brad-buckenheimer-4a9054154",
        "name": "Brad Buckenheimer",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4E03AQGKKnfuyehFGw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1580177740354?e=2147483647&v=beta&t=Fdc_UqvJn9uSLjh2odC7T9bpkc2OySxm-_oCndCmFiY",
        "title": "Founder + CEO",
        "industry": "restaurants",
        "headline": "Founder + CEO of Canopy Road Cafe",
        "seniority": "founder",
        "estimated_num_employees": "22",
        "city": "Tallahassee",
        "state": "Florida",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/63edac0a998f12000100b12d/picture",
        "organization_annual_revenue": "852000",
        "organization_annual_revenue_printed": "852K",
        "organization_seo_description": "Canopy Road Cafe offers modern, exciting twists on the classic American diner breakfast and lunch.",
        "organization_short_description": null,
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "",
        "organization_technologies": "Amazon AWS, Bing Ads, DoubleClick, DoubleClick Conversion, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Gmail, Google Analytics, Google Apps, Google Dynamic Remarketing, Google Font API, Google Maps, Google Tag Manager, Hotjar, Mobile Friendly, Remote, Simpli.fi, Typekit",
        "email_domain_catchall": true,
        "id": "5d5ae24980f93ed538a87467",
        "organization_id": "6726b70f93de3b0001afedef",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/canopy-road-cafe-llc",
        "organization_linkedin_uid": "33159801",
        "organization_twitter_url": "https://twitter.com/canopyroadcafe",
        "organization_facebook_url": "https://facebook.com/canopyroadcafe",
        "organization_founded_year": null,
        "organization_primary_domain": "canopyroadcafe.com",
        "organization_phone": "+1 850-668-6600",
        "organization_street_address": "1913 N Monroe St",
        "organization_raw_address": "1913 N Monroe, Tallahassee, Florida, USA, 32303",
        "organization_state": "Florida",
        "organization_city": "Tallahassee",
        "organization_country": "United States",
        "organization_postal_code": "32303-4725",
        "organization_market_cap": null
      },
      {
        "first_name": "Karyn",
        "last_name": "Lee-Thomas",
        "email": null,
        "personal_email": "karynleethomas@gmail.com",
        "organization_name": "Signature Coffee",
        "organization_website_url": "http://www.signature.pe",
        "linkedin_url": "http://www.linkedin.com/in/karynleethomas",
        "name": "Karyn Lee-Thomas",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "CEO",
        "industry": "food & beverages",
        "headline": "CEO - Signature Coffee Co",
        "seniority": "c_suite",
        "estimated_num_employees": "10",
        "city": "Redway",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66f94f28d50b0900019867f8/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "En café Signature, nos encargamos de brindarles soluciones integrales en atención de café de alta calidad para el sector corporativo, público y privado, contando para ello también con máquinas automáticas de última generación, para poder satisfacer las necesidades de cada empresa.\n\nNuestro café, es 100% producido en el Perú y tiene una amplia gama de granos cuidadosamente seleccionados por los mejores agricultores, contamos con diferentes tipos y calidades de café proveniente de diferentes lugares del país como: Jaén, Villa Rica, Cuzco y Anco, entre otros.\n\nAtendemos a nuestros clientes con un café fresco (con un máximo de 10 días de haber sido tostado), hasta el préstamo o alquiler de cafeteras automáticas; así mismo asignamos un ejecutivo por cliente, para atenderlo siempre de manera rápida y segura.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "cafe del autor a su taza, cafe con responsabilidad social y ecologica, cafe 100 de primera, cafe gourmet, cafe en oficinas, food & beverage services, coffee supply contracts, specialty coffee, office coffee solutions, high-end coffee machines, periodic maintenance, coffee equipment installation, sustainable coffee, freshly roasted coffee, coffee brewing methods, cleaning coffee machines, preventive maintenance, descaling services, personalized consulting, coffee quality assurance, coffee flavor profiles, coffee aroma, customized coffee services, coffee brewing techniques, commercial coffee solutions, barista training, eco-friendly coffee machines, fresh coffee delivery, coffee machine servicing, coffee tasting, coffee sourcing, micro-lots coffee, artisanal coffee, peruvian coffee, quality coffee selection, espresso machines, capsule coffee systems, automated coffee-making, touchscreen coffee machines, user-friendly coffee makers, coffee grinder systems, cold brew coffee equipment, coffee beverage programming, coffee machine diagnostics, smell & taste evaluation, coffee flavor wheel, premium coffee varieties, automatic cleaning system, low-noise grinding, energy-efficient coffee machines, coffee brewing accessories, coffee cultivation, gourmet vs specialty coffee, coffee certification standards, coffee tasting notes, food & beverages, consumer goods, consumers",
        "organization_technologies": "Vimeo",
        "email_domain_catchall": false,
        "id": "54a760e474686965d955292f",
        "organization_id": "556cf6167369641208716000",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/signaturecoffee",
        "organization_linkedin_uid": "3603727",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2010,
        "organization_primary_domain": "signature.pe",
        "organization_phone": "+51 979 397 270",
        "organization_street_address": "Avenida Gregorio Escobedo",
        "organization_raw_address": "Gregorio Escobedo, Jesús María, Lima Lima 11, PE",
        "organization_state": "Lima",
        "organization_city": "Jesus Maria",
        "organization_country": "Peru",
        "organization_postal_code": "15076",
        "organization_market_cap": null
      },
      {
        "first_name": "Charles",
        "last_name": "Kachadoorian",
        "email": "charles@gocodough.com",
        "organization_name": "Good Company Doughnuts & Cafe",
        "organization_website_url": "http://www.gocodough.com",
        "linkedin_url": "http://www.linkedin.com/in/charles-kachadoorian-9894a6191",
        "name": "Charles Kachadoorian",
        "photo_url": "https://media.licdn.com/dms/image/v2/D4E03AQFliG0rvIDV-A/profile-displayphoto-shrink_200_200/B4EZW6TywdHUAc-/0/1742587506045?e=2147483647&v=beta&t=zCbCaR1QNMCbkToUlwveWLPktgCDhGFWzYKgRi3uYEw",
        "title": "Co-Founder / CEO",
        "industry": "restaurants",
        "headline": "--",
        "seniority": "founder",
        "estimated_num_employees": "10",
        "city": "Arlington",
        "state": "Virginia",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/6821185b84950000017e79fb/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "Good Company Doughnuts & Café is a family-owned and operated café that specializes in baking the freshest, and most delicious, doughnuts in Arlington.\n\nWe serve specialty coffee by Intelligentsia and prepare a wide selection of mouth-watering breakfasts, lunches, and dinners for dine-in, takeout and delivery.\n\nWe look forward to serving you.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "",
        "organization_technologies": "AI, Centro, CloudFlare Hosting, Cloudflare DNS, Gmail, Google Apps, Remote, Toast, Webmail",
        "email_domain_catchall": true,
        "id": "684eae6bc1cca5000198562a",
        "organization_id": "64bf714c56761b000117f987",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/good-company-doughnuts-cafe",
        "organization_linkedin_uid": "86766719",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2019,
        "organization_primary_domain": "gocodough.com",
        "organization_phone": null,
        "organization_street_address": "672 N Glebe Rd",
        "organization_raw_address": "672 N Glebe Rd, STE Retail 1, Arlington, Virginia 22203, US",
        "organization_state": "Virginia",
        "organization_city": "Arlington",
        "organization_country": "United States",
        "organization_postal_code": "22203-2161",
        "organization_market_cap": null
      },
      {
        "first_name": "Adrian",
        "last_name": "Michaels",
        "email": "amichaels@adrianoseating.com",
        "organization_name": "Adriano Design Seating",
        "organization_website_url": "http://www.adrianoseating.com",
        "linkedin_url": "http://www.linkedin.com/in/adrian-michaels-56829221",
        "name": "Adrian Michaels",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "CEO",
        "industry": "furniture",
        "headline": "CEO Adriano Contract Seating",
        "seniority": "c_suite",
        "estimated_num_employees": "3",
        "city": "Los Angeles",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66f3814b6efdf100014d1e56/picture",
        "organization_annual_revenue": "3057000",
        "organization_annual_revenue_printed": "3.1M",
        "organization_seo_description": "Restaurant chairs and tables from Adriano Contract Seating in Los Angeles California; We sell restaurant chairs, restaurant barstools, cafe chairs, restaurant seating, restaurant tables, beechwood chairs, bentwood chairs, restaurant seating, restaurant furniture, Restaurant indoor seating, Restaurant outdoor seating, Bistro chairs and tables, Cafe chairs and tables, Contract seating, hotel chairs, Indoor chairs and tables, patio chairs, Design chairs , pool furniture, sun lounge, table bases, Contract furniture, Hospitality furniture, Hospitality seating, Hotel chairs , designer chairs, Commercial outdoor furniture, Wicker lounge armchairs, wicker sofas, wicker chairs, European chairs, wood chairs, wood barstools, Aluminum chairs, Aluminum barstools, Aluminum tables, Teak chairs and barstools, Teak tables, Sun loungers, outdoor chairs and tables. Los Angeles restaurant seating.",
        "organization_short_description": "Adriano Design, Inc. specializes in manufacturing high quality indoor and outdoor seating, table tops and table bases for all levels of the hospitality and design industries.\n\nFounded in 1993, our company delivers an impressive collection of modern and classic indoor and outdoor seating solutions suitable for furnishing the finest restaurants, cafes, chains, hotels, night clubs and more.\n\nAdriano's philosophy and long term success has been built on the foundation of bringing and creating European designs to the North American market with the proper scale, comfort and suitable standards. All of our products can be customized and finished according to architects', interior designers' and other business professionals' specifications.\n\nOur factory production consists of wood assembling and cutting, custom finishing and high quality upholstery. We excel in an entirely unique Italian technology for leather and regenerated leather upholstery.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "furniture & home furnishings manufacturing, home decor",
        "organization_technologies": "AI, Google Custom Search, Google Maps, Google Maps (Non Paid Users), Mobile Friendly, Nginx, Outlook, Woo Commerce, WordPress.org",
        "email_domain_catchall": false,
        "id": "606d8da615bbe5000182785f",
        "organization_id": "54a11bb969702d9d7e345d00",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/adriano-design",
        "organization_linkedin_uid": "3945879",
        "organization_twitter_url": "https://twitter.com/adrianoseating",
        "organization_facebook_url": "https://facebook.com/pages/Adriano-Design-Inc/256065261157857",
        "organization_founded_year": 1993,
        "organization_primary_domain": "adrianoseating.com",
        "organization_phone": "+1 310-515-9040",
        "organization_street_address": "244 W 140th St",
        "organization_raw_address": "244 west 140th street, los angeles, california, united states",
        "organization_state": "California",
        "organization_city": "Los Angeles",
        "organization_country": "United States",
        "organization_postal_code": "90061",
        "organization_market_cap": null
      },
      {
        "first_name": "Alfred",
        "last_name": "Jackson",
        "email": "alfred@alfred.la",
        "personal_email": "alfredjackson26@yahoo.ca",
        "organization_name": "ALFRED",
        "organization_website_url": "http://www.alfred.la",
        "linkedin_url": "http://www.linkedin.com/in/alfred-jackson-971a6a39",
        "name": "Alfred Jackson",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "CEO",
        "industry": "restaurants",
        "headline": "ceo at Alfred&co",
        "seniority": "c_suite",
        "estimated_num_employees": "63",
        "city": "Coppell",
        "state": "Texas",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68cafe95b2ec87000125f161/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "Since opening on Melrose Place in 2013, Alfred has made waves with its sleek decors, killer customer service, and innovative coffee and tea drinks.",
        "organization_short_description": "From our very first coffee shop on tree-lined Melrose Place, Alfred has consistently built a passionate following with its eye-catching cafe designs, exceptional customer service, and bar-raising drinks — most notably our World Famous Iced Vanilla Latte!",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "coffee, hospitality, retail, sugar free syrup, world famous vanilla syrup, espresso coffee, ceremonial matcha, drip coffee, iced vanilla latte, coffee subscriptions, order ahead app, coffee merchandise, brew tools, drinkware, matcha tea, catering services, gourmet coffee, coffee experience, coffee gift cards, cold brew coffee, bulk coffee orders, custom grind options, sustainable coffee, artisanal drinks, innovative beverages, customer loyalty program, barista training, campus cafes, international locations, organic ingredients, premium coffee beans, quality control, home brewing kits, drip coffee makers, coffee ingredients, on-the-go coffee, crafted cocktails, cafe design, coffee community, local partnerships, pop-up cafes, beverage mixers, seasonal offerings, beverage customization, coffee knowledge, caffeine levels, merchandise discounts, community engagement, online shopping, wholesale options, leisure, travel & tourism, e-commerce, consumer internet, consumers, internet, information technology & services",
        "organization_technologies": "AI, Adobe Media Optimizer, Amadesa, Amazon AWS, Cedexis Radar, DoubleClick, DoubleClick Conversion, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, FullStory, Gmail, Google Analytics, Google Apps, Google Dynamic Remarketing, Google Font API, Google Maps, Google Play, Google Tag Manager, Klaviyo, MailChimp, Mobile Friendly, Paypal, Remote, Shopify, Stripe, Typekit, Vimeo",
        "email_domain_catchall": false,
        "id": "5c54ebc880f93e88f3f18cec",
        "organization_id": "5b849f5af874f776f5622b3f",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/alfred-coffee",
        "organization_linkedin_uid": "18436987",
        "organization_twitter_url": "https://twitter.com/alfredcoffee",
        "organization_facebook_url": "https://facebook.com/alfredcoffee",
        "organization_founded_year": 2013,
        "organization_primary_domain": "alfred.la",
        "organization_phone": "+1 424-364-2500",
        "organization_street_address": "8428 Melrose Pl",
        "organization_raw_address": "8428 Melrose Pl, West Hollywood, California 90069, US",
        "organization_state": "California",
        "organization_city": "West Hollywood",
        "organization_country": "United States",
        "organization_postal_code": "90069-5300",
        "organization_market_cap": null
      },
      {
        "first_name": "Ai",
        "last_name": "Okubo",
        "email": "ai.okubo@davidrio.com",
        "organization_name": "David Rio Chai & Tea",
        "organization_website_url": "http://www.davidrio.com",
        "linkedin_url": "http://www.linkedin.com/in/ai-okubo-86337721",
        "name": "Ai Okubo",
        "photo_url": "https://media.licdn.com/dms/image/v2/D5603AQFYHAOYq-nAVw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1709682264581?e=2147483647&v=beta&t=2Yn1Wcl4dqTrehOMBuhbru91vOjqGmiT_XizPPfDvOU",
        "title": "Chief Executive Officer",
        "industry": "food & beverages",
        "headline": "Chief Executive Officer at David Rio Chai & Tea",
        "seniority": "c_suite",
        "estimated_num_employees": "25",
        "city": "San Francisco",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/6822562586d6a60001a967b2/picture",
        "organization_annual_revenue": "20118000",
        "organization_annual_revenue_printed": "20.1M",
        "organization_seo_description": "David Rio San Francisco chais are delicately blended into a convenient mix that make a perfect daily cup – at home or on the go. Simply mix with hot water or milk and enjoy!",
        "organization_short_description": "David Rio's mission continues to be the global premium chai and tea brand by exceeding customers'​ expectations, providing exceptional taste with quality ingredients, and offering innovative products supported by superior customer service. David Rio achieves success through its perpetual commitment to customers, employees, vendors and creditors. We strive to earn the respect and trust of our business partners and give back to the communities that are instrumental in our success. We pride ourselves on delivering quality customer service, whether the sale is one canister or one truckload, and we treat each customer as our most important.\n\nDavid Rio creates innovative and unique products that blend Eastern traditions with Western style. Whenever possible, we use organic ingredients and recyclable or reusable packaging while maintaining the integrity of our premium product lines. Our Endangered Species Chai Line was established as part of our mission to support animal conservation and welfare initiatives. In 2011, we partnered with IFAW to help build conservation awareness and help protect endangered species. Since 1999, David Rio has commemorated Tiger Spice Chai® by continuing to support adopted Bengal Tigers through the Cat Tales Zoological Park in Washington.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "chai, tea, cafe, food & beverage services, signature chai, chai cart, chai bar, premium chai, animal welfare, tea blends, masala chai, turmeric latte, japanese matcha, chai recipes, non-dairy creamer, gluten-free, fair trade, organic spices, endangered species, chai variety packs, caffeine-free, spice blends, coffee alternatives, chai accessories, chai gift box, wholesale chai, chai frappes, chai smoothies, chai hot chocolate, chai baking recipes, chai cocktails, chai masala, chai concentrate, chai flavor innovations, chai enthusiasts, chai retail, chai culinary applications, sustainable packaging, chai fundraising, chai community support, chai collaborations, chai lifestyle, chai events, chai education, chai culture, chai history, chai beverages, chai partnerships, chai social impact, chai donations, chai recipes for baking, food & beverages, consumer goods, consumers",
        "organization_technologies": "AI, Google Cloud Hosting, Hubspot, Mobile Friendly, Outlook, React, Remote, Render, Varnish, Wix",
        "email_domain_catchall": false,
        "id": "54a11f5e69702d9a8bb8e201",
        "organization_id": "54a1d61e74686945fa8ea814",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/david-rio-san-francisco",
        "organization_linkedin_uid": "1862381",
        "organization_twitter_url": "https://twitter.com/davidriosf",
        "organization_facebook_url": "https://www.facebook.com/DavidRioChaiSF",
        "organization_founded_year": 1996,
        "organization_primary_domain": "davidrio.com",
        "organization_phone": "+1 415-543-2733",
        "organization_street_address": "1019 Market St",
        "organization_raw_address": "1019 Market St, San Francisco, California, US",
        "organization_state": "California",
        "organization_city": "San Francisco",
        "organization_country": "United States",
        "organization_postal_code": "94103",
        "organization_market_cap": null
      },
      {
        "first_name": "Bruno",
        "last_name": "Nobre",
        "email": "bruno@uncommoncoffeeroasters.com",
        "organization_name": "Uncommon Coffee Roasters",
        "organization_website_url": "http://www.uncommoncoffeeroasters.com",
        "linkedin_url": "http://www.linkedin.com/in/bruno-nobre-8ba32526",
        "name": "Bruno Nobre",
        "photo_url": "https://media.licdn.com/dms/image/v2/D5603AQE8GePnhSHrEw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1704477016052?e=2147483647&v=beta&t=soPVoXhWoUkfrr2uIw47GF_TrK8EAGhlR8-CvZD1ymI",
        "title": "Chief Executive Officer",
        "industry": "food & beverages",
        "headline": "Spreading Love and Coffee | Uncommon Coffee Roasters | Minas Espresso",
        "seniority": "c_suite",
        "estimated_num_employees": "19",
        "city": "Douglas",
        "state": "Michigan",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68b0683c6ead47000154ce57/picture",
        "organization_annual_revenue": "5517000",
        "organization_annual_revenue_printed": "5.5M",
        "organization_seo_description": "",
        "organization_short_description": "Since 1994, relationship has been at the core of everything we do at Uncommon Coffee Roasters. From our customers to our coffee producers, and everybody in between, we make it our priority to build strong, sustainable partnerships. \n\nUnder the new ownership of multigenerational coffee farmers, Bruno Nobre, Mauricio DaSilva and the Uncommon team are continuing this mission of spreading love and coffee one cup at a time. \n\nBruno and Mauricio come from a long line of coffee farmers in Brazil and continue to work closely with coffee producers to better understand their products. Sourcing green coffee globally and traveling to the origin whenever possible continue to be a top priority for Uncommon Coffee Roasters. \n\nUCR is proud to provide a variety of delicious and unique coffees and coffee products both locally and nationally while also creating and maintaining sustainable partnerships with customers, coffee producers and everyone in between. \n\nCelebrating diversity, giving back to the communities it serves and incorporating sustainable practices are at the heart of Uncommon Coffee Roasters' core values. Uncommon strives to work with companies who share these same values.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "coffee roasting, wholesale, coffee, coffee shops, food & beverage services, food & beverages, consumer goods, consumers, bakeries, cafes, coffee & tea, food, restaurants",
        "organization_technologies": "Circle, Remote",
        "email_domain_catchall": false,
        "id": "66f54593d3480d000167c4ae",
        "organization_id": "54fca6237369640146ab3400",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/uncommon-coffee-roasters",
        "organization_linkedin_uid": "6399062",
        "organization_twitter_url": "https://twitter.com/saugatuckug",
        "organization_facebook_url": "https://facebook.com/uncommoncoffeeroasters",
        "organization_founded_year": 1994,
        "organization_primary_domain": "uncommoncoffeeroasters.com",
        "organization_phone": "+1 855-472-8885",
        "organization_street_address": "6785 Enterprise Dr",
        "organization_raw_address": "6785 Enterprise, Douglas, MI 49406, US",
        "organization_state": "Michigan",
        "organization_city": "Douglas",
        "organization_country": "United States",
        "organization_postal_code": "49408",
        "organization_market_cap": null
      },
      {
        "first_name": "Nir",
        "last_name": "Caspi",
        "email": "caspi@landwercafe.com",
        "organization_name": "Café Landwer",
        "organization_website_url": "http://www.landwercafe.com",
        "linkedin_url": "http://www.linkedin.com/in/nir-caspi-b2aa3b147",
        "name": "Nir Caspi",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4E03AQGnEHgSr1I6ww/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1566612788014?e=2147483647&v=beta&t=SZRzPoydLj9zetcRyrs1c3F85M13RwGXDNi_H7QF2Vk",
        "title": "CEO",
        "industry": "restaurants",
        "headline": "Co Founder and CEO at Cafe Landwer",
        "seniority": "c_suite",
        "estimated_num_employees": "180",
        "city": "Newton",
        "state": "Massachusetts",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68b9c67c0d5ff60001ee458f/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "Founded in Berlin, Germany in 1919, Landwer Coffee originated as a small coffee roasting facility. In 1933, the Landwer family immigrated to Tel Aviv, Israel and opened the coastal city's first coffee roasting house and the rest was history! With over 80 locations throughout Israel, Toronto, Canada, and Boston, Massachusetts Cafe Landwer is quickly becoming the go-to European-style Mediterranean café where guests can experience an eclectic medley of global cultures and a taste of Israel.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "mediterranean cuisine, coffee, breakfast, lunch, dinner, online ordering, reservations, catering services, loyalty program, gift cards, dine-in experience, takeout, fast-casual dining, franchise, community cafe, specialty coffee, authentic meals, healthy options, casual dining, family-friendly, urban cafe, restaurant chain, food experiences, shared dining, café ambiance, patio seating, sustainability, local ingredients, food & culture, outdoor dining, coffee brewing, barista services, menu variety, culinary heritage, exclusive specials, food delivery, contactless ordering, event hosting, team building, customer service, culinary innovation, seasonal menu, flavorful dishes, cafe atmosphere, urban dining experience, mobile app, community events, environmental services, renewables & environment",
        "organization_technologies": "AI, Amazon AWS, Microsoft Office 365, Mobile Friendly, Nginx, Outlook, Route 53, TikTok, WordPress.org",
        "email_domain_catchall": false,
        "id": "62dc85af98d354000171ebb1",
        "organization_id": "5ed486e341526a0001cfd117",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/caf%c3%a9-landwer",
        "organization_linkedin_uid": "64635344",
        "organization_twitter_url": null,
        "organization_facebook_url": "https://www.facebook.com/cafelandwerboston/",
        "organization_founded_year": 2004,
        "organization_primary_domain": "landwercafe.com",
        "organization_phone": "+1 561-576-2850",
        "organization_street_address": "383 Chestnut Hill Ave",
        "organization_raw_address": "383 Chestnut Hill Ave, Boston, Massachusetts 02135, US",
        "organization_state": "Massachusetts",
        "organization_city": "Boston",
        "organization_country": "United States",
        "organization_postal_code": "02135",
        "organization_market_cap": null
      },
      {
        "first_name": "Levi",
        "last_name": "Stein",
        "email": "lstein@fcwi.org",
        "personal_email": "levistein@gmail.com",
        "organization_name": "The Friendship Circle of Wisconsin",
        "organization_website_url": "http://www.fcwi.org",
        "linkedin_url": "http://www.linkedin.com/in/levi-stein-2aa23613",
        "name": "Levi Stein",
        "photo_url": "https://media.licdn.com/dms/image/v2/D5603AQGPRa9ZDZMeFA/profile-displayphoto-shrink_200_200/B56ZUNgRv.HQAY-/0/1739688320971?e=2147483647&v=beta&t=_HVZT8_QkFFah1B9e1PvoLnhrvsYaOy0OlTWULzN2IU",
        "title": "Chief Executive Officer",
        "industry": "nonprofit organization management",
        "headline": "President and CEO at The Friendship Circle of Wisconsin",
        "seniority": "c_suite",
        "estimated_num_employees": "9",
        "city": "Milwaukee",
        "state": "Wisconsin",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/678c1479db76850001f66cb1/picture",
        "organization_annual_revenue": "36236000",
        "organization_annual_revenue_printed": "36.2M",
        "organization_seo_description": "",
        "organization_short_description": "The Friendship Circle of Wisconsin, a division of Lubavitch of Wisconsin is dedicated to offering support, fostering friendships, and creating inclusive opportunities for individuals with disabilities. With the invaluable assistance of our dedicated team of community volunteers, we provide a diverse range of social, educational, and vocational experiences.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "volunteer oppertunities, cafe, bakery, inclusion, friendship, non-profit organizations, nonprofit organization management",
        "organization_technologies": "Android, Circle",
        "email_domain_catchall": false,
        "id": "54a5ac77746869367641c89f",
        "organization_id": "5fd1b90377e1eb0001726775",
        "twitter_url": "https://twitter.com/levistein",
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/the-friendship-circle-of-wisconsin",
        "organization_linkedin_uid": "104994278",
        "organization_twitter_url": null,
        "organization_facebook_url": "https://facebook.com/fcwisconsin",
        "organization_founded_year": 2004,
        "organization_primary_domain": "fcwi.org",
        "organization_phone": null,
        "organization_street_address": "8649 N Port Washington Rd",
        "organization_raw_address": "8649 N Port Washington Rd, Fox Point, Wisconsin 53217, US",
        "organization_state": "Wisconsin",
        "organization_city": "Fox Point",
        "organization_country": "United States",
        "organization_postal_code": "53217-2203",
        "organization_market_cap": null
      },
      {
        "first_name": "Ahmet",
        "last_name": "Altinok",
        "email": "aa@cafemauritz.dk",
        "personal_email": "altinok1982@gmail.com",
        "organization_name": "Café Mauritz ApS",
        "organization_website_url": "http://www.cafemauritz.dk",
        "linkedin_url": "http://www.linkedin.com/in/ahmetaltinok",
        "name": "Ahmet Altinok",
        "photo_url": "https://media.licdn.com/dms/image/v2/D4D03AQHhQAtKbJIJrw/profile-displayphoto-shrink_200_200/B4DZSAsZ8LHcAY-/0/1737325912660?e=1748476800&v=beta&t=rxdPIKzfs5RJ2wYXKbGFAWoILZAu8rz1UIE5NbyC4LE",
        "title": "CEO",
        "industry": "food & beverages",
        "headline": "CEO Mauritz",
        "seniority": "c_suite",
        "estimated_num_employees": "27",
        "city": "Denmark",
        "state": "Maine",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66c8ffa3e504c30001c5420d/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "Hos Café Mauritz kan du nyde vores populære brunch, burger, steaks, smørrebrød og meget mere! Det findes i alle vores 5 caféer, men også som take away » Bestil bord eller se menukortet her! ✓",
        "organization_short_description": "Alle vores caféer er indrettet med fokus på at give vores gæster en tiltrængt pause i hverdagen. Hos Café Mauritz er der plads til alle – vi kan både være mødestedet for den \"hurtige kop kaffe\", \"det længe ventede gensyn\", forretningsmødet eller den næste fest. \n\nMauritz har en vision om at levere god mad til rimelige priser, uanset om vores kunder vil nyde maden i en af vores hyggelige caféer, eller i deres vante rammer derhjemme. Derfor går vi hos Mauritz også højt op i kvalitet. Kvaliteten starter allerede hos det personale der ansættes i caféerne. Personalet repræsenterer Mauritz, og derfor vælges der kun personale som er smilende, venligt og kvalitetsbevidst.\n\nMauritz slog for første gang dørene op i 2002, hvor Skibhuskvarteret i Odense blev beriget med en café, som havde en vision om at servere veltilberedt cafémad i hyggelige omgivelser. Ikke meget har ændret sig siden da, udover at Mauritz har fået større ambitioner. I 2011 åbnede Mauritz på Læssøegade, hvor maden primært er To Go. I 2014 åbnede endnu en Mauritz på Dalumvej, der både tilbyder To Go og To Stay i hyggelige og moderne omgivelser og i 2016 kom Mauritz i Svendborg. Senest har vi i 2017 åbnet dørene op for Mauritz i Middelfart. \n\nHos Mauritz går vi op i bæredygtighed, og derfor handler vi så vidt muligt med gartnerier fra lokalområdet – råvarerne der bruges hos Mauritz betyder alverden. Derfor kan vi med stolthed fortælle, at vi dagligt får leveret friske råvarer direkte fra vores fynske slagter og fra de fynske drivhuse.\n\n.. Og så er alle vores dressinger i øvrigt hjemmelavet!",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "food & beverage services, cafe, takeaway, brunch, burgers, steaks, cocktails, sandwiches, dinner, desserts, smorrebrod, local ingredients, high quality, homemade sauces, food delivery, restaurant atmosphere, dining experience, family-friendly, customer service, happy hour, menu variety, casual dining, vegan options, vegetarian meals, event catering, breakfast menu, fresh ingredients, seasonal specials, coffee, tea, soft drinks, dine-in, outdoor seating, online ordering, loyalty program, mobile app, food safety, food sustainability, dine-out, meal customization, order ahead, food experience, gourmet burgers, tap beer, cocktail specials, weekly specials, event space, local flavors, chef specials, food pairing, snack menu, food & beverages, consumer goods, consumers",
        "organization_technologies": "Adobe Media Optimizer, Cedexis Radar, CloudFlare Hosting, Cloudflare DNS, Facebook Custom Audiences, Gmail, Google Apps, Google Font API, Google Tag Manager, Mobile Friendly, Postmark, Reviews, Vimeo, WordPress.org, YouTube",
        "email_domain_catchall": false,
        "id": "54a4a1387468693b8c9c5456",
        "organization_id": "5a9e0cf0a6da98d997796911",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/cafe-mauritz-aps",
        "organization_linkedin_uid": "17947977",
        "organization_twitter_url": null,
        "organization_facebook_url": "https://www.facebook.com/cafemauritz/",
        "organization_founded_year": 2002,
        "organization_primary_domain": "cafemauritz.dk",
        "organization_phone": "+45 73 70 90 80",
        "organization_street_address": "56 Gerritsgade",
        "organization_raw_address": "Gerritsgade 56, Svendborg, Syddanmark 5700, DK",
        "organization_state": "Region Syddanmark",
        "organization_city": "Svendborg",
        "organization_country": "Denmark",
        "organization_postal_code": "5700",
        "organization_market_cap": null
      },
      {
        "first_name": "Matthew",
        "last_name": "Agnello",
        "email": "matthew@agnellos.com",
        "organization_name": "Agnello's",
        "organization_website_url": "http://www.agnellos.com",
        "linkedin_url": "http://www.linkedin.com/in/matthewrichardagnello",
        "name": "Matthew Agnello",
        "photo_url": "https://media.licdn.com/dms/image/v2/D4E03AQEkrEnbHKhn7A/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1728931454262?e=2147483647&v=beta&t=trhziGRr9fiW4J6y0uElQZLTIcJKQzNUKSRIJAPkyAA",
        "title": "Chief Executive Officer",
        "industry": "food & beverages",
        "headline": "Entrepreneur",
        "seniority": "c_suite",
        "estimated_num_employees": "9",
        "city": "Beach Haven",
        "state": "New Jersey",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/67031fe96ac4110001969520/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "Agnello's - Take a moment to shop online or visit one of our three locations in Harvey Cedars, Barnegat Light, and Manahawkin offering high-quality food and beverage options.",
        "organization_short_description": "Established in 2021, Agnello's is your space for quality coffee, artisan toasts, and genuine community. Our brand ethos, \"Take a Moment,\" epitomizes our approach to customer service and community-building. At Agnello's Cafe, we provide more than just a quick coffee fix; we offer a space where you can pause, engage, and feel welcomed.\n\nOur cafes are designed to be as warm and inclusive as our service. The rich aroma of freshly brewed coffee, the inviting layout, and our friendly staff all contribute to a setting where guests can truly take a moment to unwind and connect.\n\nQuality and authenticity are at the core of our offerings. From our carefully sourced coffee beans to our artisan toasts, every item on our menu is selected with the utmost attention to detail and a commitment to excellence.\n\nOur team isn't just staff; they're family. Committed to nurturing a culture of inclusivity and warmth, we make it a point to invest in the professional and personal development of each team member. This commitment translates to a one-of-a-kind experience for our customers, filled with genuine interactions and quality service.\n\nAs a growing brand with three distinct locations, we are not just a cafe; we're a community hub. And in an increasingly fast-paced world, Agnello's Cafe serves as a reminder of the simple, yet profound, joy of taking a moment to connect with others.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "cafe & coffee, food & beverage services, food & beverages, consumer goods, consumers",
        "organization_technologies": "Adobe Media Optimizer, Amazon AWS, Basis, Cedexis Radar, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Google Analytics, Google Maps, Google Maps (Non Paid Users), Google Tag Manager, Gorgias, HeapAnalytics, Klaviyo, Mixpanel, Mobile Friendly, Outlook, Render, Shopify, Stripe, Toast, Vimeo, YouTube",
        "email_domain_catchall": false,
        "id": "54a7905274686965d9aba440",
        "organization_id": "65e5399813b94d00079c9298",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/agnello's",
        "organization_linkedin_uid": "94388184",
        "organization_twitter_url": null,
        "organization_facebook_url": "https://www.facebook.com/Agnelloscafe",
        "organization_founded_year": 2021,
        "organization_primary_domain": "agnellos.com",
        "organization_phone": null,
        "organization_street_address": "1801 Central Ave",
        "organization_raw_address": "1801 central avenue, barnegat light, new jersey, united states",
        "organization_state": "New Jersey",
        "organization_city": "Barnegat Light",
        "organization_country": "United States",
        "organization_postal_code": "08006-1515",
        "organization_market_cap": null
      },
      {
        "first_name": "Bryan",
        "last_name": "Timko",
        "email": "bryan@lifealive.com",
        "organization_name": "Life Alive Café",
        "organization_website_url": "http://www.lifealive.com",
        "linkedin_url": "http://www.linkedin.com/in/bryan-timko-13075b17",
        "name": "Bryan Timko",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "Chief Executive Officer",
        "industry": "restaurants",
        "headline": "Chief Executive Officer at Life Alive Cafes",
        "seniority": "c_suite",
        "estimated_num_employees": "81",
        "city": "Boston",
        "state": "Massachusetts",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68c1a5f73be55900016063ef/picture",
        "organization_annual_revenue": "19906000",
        "organization_annual_revenue_printed": "19.9M",
        "organization_seo_description": "Invigorating food that tastes as good as it makes you feel—energized, uplifted and fully alive.",
        "organization_short_description": "Life Alive is here to provide satisfying, energizing and delightful nourishment in a cozy and inviting atmosphere. In this Urban Oasis, one might hear the sound of blenders whirring, smell aromas of fresh-cut wheatgrass and juicy ginger, see a colorful spectrum of dishes, art and people, and, most importantly, taste craveable fresh flavors that fuel the body.\n\nYou are welcome here.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "organic food, cafe, healthy menu, catering services, nutrition, allergens information, food delivery, gift cards, life alive app, perks program, fresh flavors, sustainable eating, wholesome ingredients, vegan options, vegetarian meals, local produce, seasonal menu, dine-in experience, takeout, community events, wellness-focused meals, family-friendly options, coffee shop, breakfast options, smoothie bar, salads, bowls, clean eating, environmentally-friendly packaging, support local farmers, meal prep, snack options, customizable meals, chef specials, food promise, restaurant locator, menu planning, food as medicine, healthy lifestyle, customer support, newsletter subscription, press inquiries, location finder, reward points, seasonal promotions, wellness events, cafe culture, sustainable sourcing, food & beverages, consumer goods, consumers, health, wellness & fitness, food, juice bars & smoothies, restaurants, vegan, vegetarian",
        "organization_technologies": "Amazon AWS, Amazon CloudFront, AppNexus, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Gmail, Google Analytics, Google Apps, Google Font API, Google Maps, Google Play, Google Tag Manager, Hotjar, MailChimp SPF, Mobile Friendly, Perfect Audience, Remote, Route 53, Sendgrid, SharpSpring, Shopify, Typekit, UltiPro",
        "email_domain_catchall": false,
        "id": "6113dfecfab9310001d7b363",
        "organization_id": "5da3388f741f9b00019d53f6",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/life-alive-cafes",
        "organization_linkedin_uid": "35494857",
        "organization_twitter_url": "https://twitter.com/lifealivecafe",
        "organization_facebook_url": "https://www.facebook.com/lifealivecafe/",
        "organization_founded_year": null,
        "organization_primary_domain": "lifealive.com",
        "organization_phone": "+1 617-354-5433",
        "organization_street_address": "194 Essex St",
        "organization_raw_address": "Cambridge: 765 Massachusetts Avenue, Boston MA / Lowell: 194 Middle St , Lowell MA / Salem: 281 Essex Street, Salem MA, Boston, Massachusetts, USA, 02139",
        "organization_state": "Massachusetts",
        "organization_city": "Salem",
        "organization_country": "United States",
        "organization_postal_code": "01970-3705",
        "organization_market_cap": null
      },
      {
        "first_name": "Maurice",
        "last_name": "Bared",
        "email": "maurice.bared@farmstores.com",
        "organization_name": "Farm Stores Franchising",
        "organization_website_url": "http://www.farmstores.com",
        "linkedin_url": "http://www.linkedin.com/in/maurice-bared-b199a78",
        "name": "Maurice Bared",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4D03AQGvUSG62uCBUw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1530136210912?e=2147483647&v=beta&t=uAwhtHWiDCZZg3-lX-8GnaUQsnI7XzSL0gTWOGNfVaU",
        "title": "CEO",
        "industry": "retail",
        "headline": "CEO at Farm Stores Franchising",
        "seniority": "c_suite",
        "estimated_num_employees": "40",
        "city": "Miami",
        "state": "Florida",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68bf1d8335597a00012409c6/picture",
        "organization_annual_revenue": "45647000",
        "organization_annual_revenue_printed": "45.6M",
        "organization_seo_description": "Farm Stores Eggnog is so heavenly and delicious that angels probably use it to sweeten their coffee up there in the clouds. It's like sipping on a cup of",
        "organization_short_description": "Farm Stores is the country's largest and fastest growing chain of drive thru grocery stores. Since 1957, generations of Floridians have grown up loving trips to our stores so they could come home with great ice cream, fresh bread, and delicious milk. Generations of parents loved us for the convenience of being able to make a quick grocery run without getting out of the car.\n\nNow we're expanding as a franchise and opening new stores in several states, including New York, New Jersey, Connecticut, and Texas. Franchises and Area Representative opportunities are available.\n\nPlease contact Victor Arechavaleta or Jim Cobban to learn more.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "drive-thru, convenience store, grocery, bakery, cafe, franchise, fresh produce, baked goods, eggnog, takeout, ready-to-eat meals, fresh bread, snacks, dairy products, hot pastries, smoothies, coffee, milkshakes, sweets, grocery essentials, household goods, bread rolls, empanadas, gourmet snacks, cereal, frozen items, hot soup, tea, sandwiches, pet supplies, cleaning products, fast service, local markets, customer service, family-friendly, restaurant quality, food on-the-go, delivery, hot food, loyalty program, rewards program, special offers, beverages, beer & wine, seasonal products, store locator, franchise opportunities, quick service, community-focused, food & beverages, consumer goods, consumers, bakeries, convenience stores, food",
        "organization_technologies": "Google Analytics, Google Font API, Google Maps, Google Places, Google Play, Google Tag Manager, Gravity Forms, Mobile Friendly, Nginx, Outlook, Quantcast, Rackspace Email, Remote, Sendgrid, Vimeo, Woo Commerce, WordPress.org, YouTube, reCAPTCHA",
        "email_domain_catchall": false,
        "id": "60d06a7667c9ce0001aa163f",
        "organization_id": "55923ceb736964198107ea00",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/farm-stores",
        "organization_linkedin_uid": "5557398",
        "organization_twitter_url": "https://twitter.com/Farm_Stores",
        "organization_facebook_url": "http://www.facebook.com/FarmStores/",
        "organization_founded_year": 1957,
        "organization_primary_domain": "farmstores.com",
        "organization_phone": "+1 800-726-3276",
        "organization_street_address": "2937 SW 27th Ave",
        "organization_raw_address": "2937 SW 27th Ave, Miami, Florida, US",
        "organization_state": "Florida",
        "organization_city": "Miami",
        "organization_country": "United States",
        "organization_postal_code": "33133",
        "organization_market_cap": null
      },
      {
        "first_name": "Youssef",
        "last_name": "Nafaa",
        "email": null,
        "personal_email": "youssefnafaa@yahoo.com",
        "organization_name": "Bella Restaurants Group",
        "organization_website_url": "http://www.bellarestaurants.com",
        "linkedin_url": "http://www.linkedin.com/in/youssef-nafaa-1b509427",
        "name": "Youssef Nafaa",
        "photo_url": "https://media.licdn.com/dms/image/v2/D5603AQGOh-WwDUPTIw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1711805938333?e=2147483647&v=beta&t=o6tGNEPDeSZMuP7ImAUz-KfuhCS7JfKL7hdJ-L0mYnY",
        "title": "Chief Executive Officer",
        "industry": "",
        "headline": "CEO at Bella Restaurant Group",
        "seniority": "c_suite",
        "estimated_num_employees": "11",
        "city": "Houston",
        "state": "Texas",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/63edac0a998f12000100b12d/picture",
        "organization_annual_revenue": "10869000",
        "organization_annual_revenue_printed": "10.9M",
        "organization_seo_description": "BentoBox offers restaurants beautiful, mobile friendly websites that drive revenue and customers — complete with a simple, hospitality-focused management system, hosting and exceptional customer support.",
        "organization_short_description": "Bella Restaurants Group is a company based out of Houston, TX, United States.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "",
        "organization_technologies": "Amazon AWS, Canva, Google Cloud Hosting, Mobile Friendly, Nginx, Outlook, Sendgrid, Toast, Typekit, Varnish, Wix",
        "email_domain_catchall": false,
        "id": "611b4c7a1be06c00013df0ca",
        "organization_id": "672af27c554018000168b3dc",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/bella-restaurants-group",
        "organization_linkedin_uid": "70765141",
        "organization_twitter_url": null,
        "organization_facebook_url": "https://facebook.com/pages/Bella-Restaurants-Group/113455692163",
        "organization_founded_year": null,
        "organization_primary_domain": "bellarestaurants.com",
        "organization_phone": "+1 346-444-6888",
        "organization_street_address": "4708 Lillian St",
        "organization_raw_address": "4708 lillian street, houston, texas, united states",
        "organization_state": "Texas",
        "organization_city": "Houston",
        "organization_country": "United States",
        "organization_postal_code": "77007",
        "organization_market_cap": null
      },
      {
        "first_name": "Brooke",
        "last_name": "Harris",
        "email": null,
        "personal_email": "brooksier@gmail.com",
        "organization_name": "Goodmylk Co.",
        "organization_website_url": "http://www.goodmylk.co",
        "linkedin_url": "http://www.linkedin.com/in/brooke-harris-aa884298",
        "name": "Brooke Harris",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "CEO",
        "industry": "food & beverages",
        "headline": "CEO at Goodmylk Co.",
        "seniority": "c_suite",
        "estimated_num_employees": "13",
        "city": "Marina del Rey",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68cb9dc07c788c00015cce0e/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "Based in Los Angeles, Goodmylk Co. is on a mission to \"keep it real\" with organic, truly nutritional plant mylks made from only the good stuff, and nothing else. No chemicals, no binders, no fillers, and above all – no compromises. Because we all know real, good food when we see it, taste it and most importantly, feel it. At Goodmylk Co., we believe you deserve better quality, more transparency, and of course, the most delicious plant mylks that will seriously upgrade your latte game. In short, we're hell-bent on putting more good into the world. Our plant mylks are currently available in over 100 California coffee shops including La Colombe, Blue Bottle and Verve Coffee Roasters, and due to popular demand, they're now available to order directly at goodmylk.co.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "beverage, plant based, dtc, cafe, food service, organic, sustainable, fresh, easy, vegan, consumer goods, consumers",
        "organization_technologies": "",
        "email_domain_catchall": false,
        "id": "60db3787ed8cd1000182668b",
        "organization_id": "5da3e55af8b66e00011a0531",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/goodmylkco",
        "organization_linkedin_uid": "19092192",
        "organization_twitter_url": null,
        "organization_facebook_url": "https://facebook.com/goodmylkco",
        "organization_founded_year": 2018,
        "organization_primary_domain": "goodmylk.co",
        "organization_phone": "+1 310-439-0593",
        "organization_street_address": "4646 Glencoe Ave",
        "organization_raw_address": "4646 glencoe ave, marina del rey, california, united states",
        "organization_state": "California",
        "organization_city": "Marina del Rey",
        "organization_country": "United States",
        "organization_postal_code": "90292",
        "organization_market_cap": null
      },
      {
        "first_name": "Rinzy",
        "last_name": "Nocero",
        "email": null,
        "personal_email": "rinzyn@yahoo.com",
        "organization_name": "Sunny Street Cafe",
        "organization_website_url": "http://www.sunnystreetcafe.com",
        "linkedin_url": "http://www.linkedin.com/in/rinzy-nocero-a650ba42",
        "name": "Rinzy Nocero",
        "photo_url": "https://media.licdn.com/dms/image/v2/C5603AQHzke8s00960Q/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1516963401878?e=2147483647&v=beta&t=VEZsP4PNwFmSY1v_d6jOHdQA8B9UuiYmHI_mX7B6lFk",
        "title": "CEO of \"The Restaurant RN\" Consulting Company",
        "industry": "restaurants",
        "headline": "CEO of \"The Restaurant RN\" Consulting Company",
        "seniority": "c_suite",
        "estimated_num_employees": "160",
        "city": "Grove City",
        "state": "Ohio",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68c284a9415418000143bff9/picture",
        "organization_annual_revenue": "12789000",
        "organization_annual_revenue_printed": "12.8M",
        "organization_seo_description": "Sunny Street Café was started by a dad. And is run today by his daughter and two sons. It was created for good people who love feel-good food in a comfortable place.",
        "organization_short_description": "The best breakfast and brunch in town. Made-from-scratch goodness, always sunny-side up.\n\nSunny Street Café® operates 22 franchised locations in Ohio, Texas, Missouri, Alabama, and Illinois, open daily from 6:30 a.m. to 2:30 p.m. The restaurants feature a wide variety of breakfast and lunch fare, including signature dishes such as \"big as the plate\" buttermilk pancakes, Stuffed Biscuits and Gravy, Tex-Mex Omelette, Southwest Turkey Club, Buffalo Chicken Salad, homemade soups, fresh fruit, and from-scratch muffins. Restaurants also offer full service catering, take out and special event hosting. Franchise opportunities are currently available for both first-time owners and existing operators and developers. \nFor more information, visit www.sunnystreetcafe.com.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "breakfast, brunch, madefromscratch, customer service, local charm, charity work, lunch, catering, franchise, carry-out, delivery, made-from-scratch, omelettes, pancakes, specials, family-owned, healthy options, dining experience, kids menu, gift cards, feedback, catering events, meal planning, location-based services, community-focused, ethical sourcing, tex-mex, egg dishes, homemade, local ingredients, customer interaction, employment opportunities, flexible scheduling, health benefits, competitive pay, shop online, customer club, special event catering, breakfast combos, comfortable atmosphere, southern cuisine, vegetarian options, nutrition guides, takeout services, online ordering, social media engagement, community events, location finder, restaurant reviews, loyalty program, neighborhood cafe, seasonal offerings, special diet considerations, american (new), breakfast & brunch, cafes, coffee & tea, food, restaurants",
        "organization_technologies": "Cloudflare DNS, DoubleClick, DoubleClick Conversion, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Gmail, Google AdWords Conversion, Google Analytics, Google Apps, Google Dynamic Remarketing, Google Font API, Google Maps, Google Maps (Non Paid Users), Google Tag Manager, Gravity Forms, Linkedin Marketing Solutions, Mobile Friendly, Tealium, The Trade Desk, Typekit, WP Engine, Woo Commerce, WordPress.org, reCAPTCHA",
        "email_domain_catchall": false,
        "id": "60a5e7675a458f0001f229af",
        "organization_id": "56d6e503f3e5bb0db7000a81",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/sunnystreetcafe",
        "organization_linkedin_uid": "10195951",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2007,
        "organization_primary_domain": "sunnystreetcafe.com",
        "organization_phone": "+1 614-396-5030",
        "organization_street_address": "274 Marconi Blvd",
        "organization_raw_address": "274 Marconi Blvd, Suite 260, Columbus, OH 43215, US",
        "organization_state": "Ohio",
        "organization_city": "Columbus",
        "organization_country": "United States",
        "organization_postal_code": "43215",
        "organization_market_cap": null
      },
      {
        "first_name": "Jared",
        "last_name": "Field",
        "email": null,
        "organization_name": "Bloom Coffee Roasters",
        "organization_website_url": "http://www.bloomcoffeeroasters.in",
        "linkedin_url": "http://www.linkedin.com/in/jared-field-15455b167",
        "name": "Jared Field",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4E03AQGQWRMxW1mhyg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1530385536660?e=2147483647&v=beta&t=7te7-rIzDZUAV4AHcRkiE_ZmPz4NckaY1-kE4Tveor4",
        "title": "CEO",
        "industry": "food & beverages",
        "headline": "CEO",
        "seniority": "c_suite",
        "estimated_num_employees": "5",
        "city": "Lansing",
        "state": "Michigan",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68c556d292a4cc0001523508/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "Delicious speciality coffee, from India's finest coffee estates, roasted in small batches with love and care! Free shipping for all coffees across India!",
        "organization_short_description": "At Bloom Coffee Roasters, we are passionate about speciality coffee and are dedicated to elevating the coffee culture in India. We are proud to be one of the leading speciality coffee roasters in the country, providing expertly roasted beans to your homes, cafes, restaurants, and hotels.\n\nOur focus on quality starts at the source, as we work with some of the best Indian coffee plantations to bring the finest beans to your cup. We believe that everyone deserves access to speciality coffee, and that's why we strive to make it accessible to all.\n\nWe understand the importance of a well-rounded coffee program, and our team of experts will work closely with you to create a customized solution that fits your unique needs. From selecting the perfect beans to providing ongoing training and support, we're here to help make your coffee program truly amazing.\n\nAt Bloom Coffee Roasters, we are committed to sustainability and ethical sourcing practices. We believe that a cup of coffee should not only taste great but also do good, and that's why we work with partners who share our values.\n\nJoin us on our journey to discover the world of speciality coffee. Let's make every cup count!",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "speciality coffee roasters, artisan coffee, coffee roasting, coffee consulting, barista training, cafe consulting, wholesale cafe partnering, speciality coffee blends, coffee education, food & beverage services, food & beverages, consumer goods, consumers",
        "organization_technologies": "AI, Bootstrap Framework, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Gmail, Google AdWords Conversion, Google Analytics, Google Apps, Google Font API, Google Tag Manager, Hotjar, Mobile Friendly, Render, Shopify",
        "email_domain_catchall": false,
        "id": "67ee03054d2a6f00018baa24",
        "organization_id": "60af48bb4e2cc00001b5b8ad",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/bloomcoffeeroastersindia",
        "organization_linkedin_uid": "67995055",
        "organization_twitter_url": null,
        "organization_facebook_url": "https://www.facebook.com/bloomcoffeeroastersindia",
        "organization_founded_year": 2019,
        "organization_primary_domain": "bloomcoffeeroasters.in",
        "organization_phone": "+91 98774 53912",
        "organization_street_address": "",
        "organization_raw_address": "Panchkula, Haryana 134109, IN",
        "organization_state": "Haryana",
        "organization_city": "Panchkula",
        "organization_country": "India",
        "organization_postal_code": "134109",
        "organization_market_cap": null
      },
      {
        "first_name": "Daniel",
        "last_name": "Martinez",
        "email": null,
        "organization_name": "Lanorma Coffee Machine",
        "organization_website_url": null,
        "linkedin_url": "http://www.linkedin.com/in/daniel-climent-mart%c3%adnez-285442172",
        "name": "Daniel Martinez",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4D03AQHAD_Ej1eo2vg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1658414020057?e=2147483647&v=beta&t=H5kbf8IyBkGJcNAGgmxyeW7izMM93UG1QjOQxP-WNK8",
        "title": "CEO",
        "industry": "machinery",
        "headline": "CEO",
        "seniority": "c_suite",
        "estimated_num_employees": "2",
        "city": "Orlando",
        "state": "Florida",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68678017292b4400010eeaab/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "Fábrica de máquinas de café",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "fabrica de maquinas de cafe, machinery manufacturing",
        "organization_technologies": "",
        "email_domain_catchall": false,
        "id": "5bd6434180f93ef439818ae2",
        "organization_id": "646489e047f4b40001a0d941",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/lanorma-coffee-machine-manufacturer-s-l",
        "organization_linkedin_uid": "90247089",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2021,
        "organization_primary_domain": null,
        "organization_phone": null,
        "organization_street_address": "",
        "organization_raw_address": "43 位关注者",
        "organization_state": null,
        "organization_city": null,
        "organization_country": null,
        "organization_postal_code": null,
        "organization_market_cap": null
      },
      {
        "first_name": "Damian",
        "last_name": "Robledo",
        "email": null,
        "personal_email": "dgrobledo@sbcglobal.net",
        "organization_name": "RIVER WILD INC",
        "organization_website_url": "http://www.riverwild.la",
        "linkedin_url": "http://www.linkedin.com/in/damianrobledo",
        "name": "Damian Robledo",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4D03AQHQzHzpwzDhVg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1517279413353?e=2147483647&v=beta&t=GLQqLG8X65tH2VUSQQ3HlygUX5DTpF81CWoMn6HtFDQ",
        "title": "Chief Executive Officer",
        "industry": "design",
        "headline": "Design Director",
        "seniority": "c_suite",
        "estimated_num_employees": "3",
        "city": "Los Angeles",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66e3fdbee0a9cc000151db7b/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "RIVER WILD inc is a social enterprise based in Atwater Village. We are Latinx and locally grown. Cafes, kitchens & commissaries are our bread & butter work. We produce pop-ups and proof of concept projects along the LA RIVER.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "coffee roastery, design, bakery, development, cafe, restaurants, kitchens, food & beverage, consumer goods, consumers",
        "organization_technologies": "Google Cloud Hosting, Mobile Friendly",
        "email_domain_catchall": false,
        "id": "54a7cc5e7468696de7bc0052",
        "organization_id": "5d3479b9f651259978f834b5",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/river-wild-inc",
        "organization_linkedin_uid": "15704299",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2014,
        "organization_primary_domain": "riverwild.la",
        "organization_phone": "+1 323-363-1663",
        "organization_street_address": "4042 Brunswick Ave",
        "organization_raw_address": "4042 Brunswick Av, Los Angeles, CA 90039, US",
        "organization_state": "California",
        "organization_city": "Los Angeles",
        "organization_country": "United States",
        "organization_postal_code": "90039-1418",
        "organization_market_cap": null
      },
      {
        "first_name": "Meridith",
        "last_name": "Coyle",
        "email": "meridith@aneucatering.com",
        "organization_name": "ANEU Kitchens",
        "organization_website_url": "http://www.aneukitchens.com",
        "linkedin_url": "http://www.linkedin.com/in/meridith-coyle-a23b08a7",
        "name": "Meridith Coyle",
        "photo_url": "https://media.licdn.com/dms/image/v2/D4D03AQHWfJwzlCYOGw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1708615179456?e=2147483647&v=beta&t=Pj13CG59l5jT3wDSJ-FtbtTPJTwDlEqRTQ7ob46QdRo",
        "title": "Chief Executive Officer",
        "industry": "food & beverages",
        "headline": "Culinary Pioneer & Wellness Guru",
        "seniority": "c_suite",
        "estimated_num_employees": "9",
        "city": "Paoli",
        "state": "Pennsylvania",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/67120dcd440c1500017c2505/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "nnLEARN MORE  nnYEU SnacksnnYEU is a nutritional snack/meal replacement line brought to you by ANEU Kitchens, that makes healthy eating convenient and delicious - so delicious that it’s “Craveable!”",
        "organization_short_description": "ANEU Kitchens & Catering, Market & Juicery\n\nA modern kitchen, our food is natural, whole, fresh, prepared daily and organic when possible. Every item in our kitchen is made from scratch. We take the time to design each menu item to fit the needs and dietary restrictions of our clients. We also believe every event is unique, and food should be too. Aneu follows food and health trends not only in the food industry, but the entire wellness industry. Our focus revolves around exceeding expectations and providing exceptional experiences for you and your family, team, or whomever it may be.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "juicery, catering, corporate catering, residential catering, market, specialty grocer, bakery, cafe, event planning, and, food & beverage services, events services, food & beverages, consumer goods, consumers",
        "organization_technologies": "Gmail, Google Apps, Google Cloud Hosting, Google Tag Manager, Gravity Forms, Mobile Friendly, Nginx, Shopify, Typekit, Woo Commerce, WordPress.org, reCAPTCHA",
        "email_domain_catchall": false,
        "id": "6561fa1815dae9000102b06a",
        "organization_id": "663b290a80e5cb000136d21f",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/aneu-kitchens",
        "organization_linkedin_uid": "102613163",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 1992,
        "organization_primary_domain": "aneukitchens.com",
        "organization_phone": "+1 610-251-9600",
        "organization_street_address": "1556 E Lancaster Ave",
        "organization_raw_address": "1556 E Lancaster Ave, Paoli, Pennsylvania 19301, US",
        "organization_state": "Pennsylvania",
        "organization_city": "Paoli",
        "organization_country": "United States",
        "organization_postal_code": "19301",
        "organization_market_cap": null
      },
      {
        "first_name": "Casey",
        "last_name": "Wojtalewicz",
        "email": "casey@canyoncoffee.co",
        "organization_name": "Canyon Coffee",
        "organization_website_url": "http://www.canyoncoffee.co",
        "linkedin_url": "http://www.linkedin.com/in/casewoj",
        "name": "Casey Wojtalewicz",
        "photo_url": "https://media.licdn.com/dms/image/v2/C5603AQFw0wEH8lttkA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1579481008441?e=2147483647&v=beta&t=NGlS0t4NlMT2OI2nfg0fLWToJRUfBeEqUDe3pETWUyE",
        "title": "Chief Executive Officer",
        "industry": "food & beverages",
        "headline": "Co-Founder & CEO, Canyon Coffee",
        "seniority": "c_suite",
        "estimated_num_employees": "19",
        "city": "Los Angeles",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68cc2bae79f4a200010c5a73/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": null,
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "specialty coffee, wholesale, sales, office coffee, grocery, cafe equipment, espresso service, organic coffee, coffee subscription, ecommerce, cafes, food & beverage services, e-commerce, consumer internet, consumers, internet, information technology & services, food & beverages, consumer goods",
        "organization_technologies": "AI, Basis, Circle, Gmail, Google Apps, Overloop, Remote, Render, Reviews, Sendgrid, TikTok",
        "email_domain_catchall": false,
        "id": "66f1a8d26365240001c76686",
        "organization_id": "5592312273696419d8c5be00",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/canyon-coffee",
        "organization_linkedin_uid": "4651641",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2016,
        "organization_primary_domain": "canyoncoffee.co",
        "organization_phone": null,
        "organization_street_address": "251 S Mission Rd",
        "organization_raw_address": "251 S Mission Rd, Los Angeles, California 90033, US",
        "organization_state": "California",
        "organization_city": "Los Angeles",
        "organization_country": "United States",
        "organization_postal_code": "90033-3235",
        "organization_market_cap": null
      },
      {
        "first_name": "Ricardo",
        "last_name": "Heros",
        "email": "ricardo@cafelasflores.com",
        "organization_name": "Café Las Flores",
        "organization_website_url": "http://www.cafelasflores.com",
        "linkedin_url": "http://www.linkedin.com/in/ricardo-heros-0059313",
        "name": "Ricardo Heros",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "CEO",
        "industry": "food production",
        "headline": "CEO at Cafe Las Flores",
        "seniority": "c_suite",
        "estimated_num_employees": "74",
        "city": "Memphis",
        "state": "Tennessee",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/684525c7cc08570001c2fabf/picture",
        "organization_annual_revenue": "35000000",
        "organization_annual_revenue_printed": "35M",
        "organization_seo_description": "Café Las Flores es una marca reconocida a nivel nacional e internacional que ofrece servicios de ecoturismo en el Volcán Mombacho, Granada, Nicaragua. Procesamos y distribuimos café empacado a nivel nacional e internacional, además de operar la cadena de restaurantes Café Las Flores en Nicaragua.Café Las Flores is a nationally and internationally recognized brand that provides ecotourism services at the Mombacho Volcano in Granada, Nicaragua. We process and distribute packaged coffee both nationally and internationally, and also manage the Café Las Flores restaurant chain in Nicaragua",
        "organization_short_description": "Café Las Flores is a highly recognized national and international brand, positioned as a diversified group, that offers Ecotourism services  in the Mombacho Volcano, packaged coffee that is marketed and distributed nationally and internationally, where the brand is positioned as a Nicaraguan quality reference. Café Las Flores´ chain of restaurants grow stronger every day, strategically positioned throughout Nicaragua.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "canopy, cafe certificado, ensaladas, cafe, almuerzos, agriculture, smoothies, desayunos, postres, cappuccinos, eventos, turismo, comida, cafes frozen, cafe gourmet, quesadillas, cafeteria, ecoturismo, tours, senderos, coffee, coffee shop, tourism, food & beverage manufacturing, ecotourism, specialty coffee, organic coffee, coffee beans, coffee packaging, nicaraguan coffee, café chain, restaurant services, catering, banquets, coffee distribution, online store, souvenirs, coffee tours, café events, event planning, corporate events, gourmet coffee, certified coffee, coffee varieties, cold brew, espresso, aromatic coffee, local cuisine, breakfast menu, hot drinks, food items, restaurant locations, coffee grower, sustainability practices, social responsibility, community engagement, corporate responsibility, family-owned, coffee roasting, espresso drinks, direct trade, farm-to-table, ingredient sourcing, menu options, food delivery, international distribution, customer experience, retail coffee, support local, gourmet food items, personalized service, events, events services, leisure, travel & tourism, food production",
        "organization_technologies": "Gmail, Google Analytics, Google Apps, Google Font API, Google Tag Manager, Gusto, Microsoft Office 365, Mobile Friendly, Woo Commerce, WordPress.org, reCAPTCHA",
        "email_domain_catchall": false,
        "id": "62048f2e9c5bfc00019e3a0f",
        "organization_id": "54a1294e69702d8cfc78c001",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/caf-las-flores",
        "organization_linkedin_uid": "2471558",
        "organization_twitter_url": null,
        "organization_facebook_url": "https://www.facebook.com/cafelasflores",
        "organization_founded_year": 2004,
        "organization_primary_domain": "cafelasflores.com",
        "organization_phone": "+505 5861 2098",
        "organization_street_address": "Carretera a Masaya",
        "organization_raw_address": "carretera a masaya, managua, managua department, nicaragua",
        "organization_state": "Managua Department",
        "organization_city": "Managua",
        "organization_country": "Nicaragua",
        "organization_postal_code": null,
        "organization_market_cap": null
      },
      {
        "first_name": "Randy",
        "last_name": "Talley",
        "email": "randy.talley@greensagecafe.com",
        "personal_email": "jrandytalley@gmail.com",
        "organization_name": "Green Sage Cafe",
        "organization_website_url": "http://www.greensagecafe.com",
        "linkedin_url": "http://www.linkedin.com/in/randy-talley-61725011",
        "name": "Randy Talley",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "CEO and Co-Owner",
        "industry": "food & beverages",
        "headline": "CEO and Co-Owner",
        "seniority": "owner",
        "estimated_num_employees": "35",
        "city": "Asheville",
        "state": "North Carolina",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68c9501e7b8d7600014e5e95/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "All Day Breakfast, Coffee, Plant-Based Bowls, Cold Pressed Juice + \r\nSmoothies // Certified Green Restaurant // Gluten Free + Vegan Options",
        "organization_short_description": "Asheville's Greenest Restaurant serving breakfast and lunch 7 days/week.  Options available for omnivores, vegetarians, vegans and gluten-free customers. Featuring fair trade-organic coffee and tea, fresh veggie and fruit juices, 100% fruit smoothies, local-organic veggies and pasture-raised meats.\n\nGreen solutions include 12 solar thermal panels on the roof, composting and recycling of waste--no dumpster, bicycle delivery, waterless urinal in men's restroom.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "natural, ecofriendly cafe, local ingredients, food & beverage services, organic food, plant-based menu, catering services, sustainable practices, healthy options, community support, cold-pressed juice, vegan meals, vegetarian dishes, gluten-free options, environmentally friendly, local sourcing, grass-fed beef, non-gmo ingredients, healthy catering, eco-friendly cookware, raw juices, fresh smoothies, whole fruit smoothies, house-made pastries, nutrient-rich meals, chemical-free food, breakfast options, lunch menu, rewards program, app for orders, recycling program, donation program, carbon footprint reduction, environmentally certified, green restaurant association, energy-efficient appliances, organic coffee, fair trade coffee, community partnerships, water filtration, clean food sourcing, donation campaigns, customer feedback, seasonal specials, takeout options, meal prep services, family-friendly dining, quick service cafe, fast-casual dining, antibiotic-free meat, local farmers, sustainable ingredients, environmental stewardship, food & beverages, consumer goods, consumers, breakfast & brunch, coffee & tea, food, juice bars & smoothies, restaurants",
        "organization_technologies": "Amazon AWS, Circle, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Gmail, Google Analytics, Google Apps, Google Play, Google Tag Manager, Mobile Friendly, Typekit",
        "email_domain_catchall": false,
        "id": "607bdceedc63d0000157eace",
        "organization_id": "54fca3a47369647de9dd1b00",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/the-green-sage",
        "organization_linkedin_uid": "817054",
        "organization_twitter_url": "https://twitter.com/greensagecafe",
        "organization_facebook_url": "http://www.facebook.com/greensagecafe",
        "organization_founded_year": 2008,
        "organization_primary_domain": "greensagecafe.com",
        "organization_phone": "+1 828-239-9923",
        "organization_street_address": "14 South Pack Square",
        "organization_raw_address": "14 S Pack Square, Suite LL100, Asheville, North Carolina 28801, US",
        "organization_state": "North Carolina",
        "organization_city": "Asheville",
        "organization_country": "United States",
        "organization_postal_code": "28801",
        "organization_market_cap": null
      },
      {
        "first_name": "Diana",
        "last_name": "Mora",
        "email": null,
        "organization_name": "Zarucoffee Corp.",
        "organization_website_url": "http://www.zarucoffee.com",
        "linkedin_url": "http://www.linkedin.com/in/diana-aguilar-mora-78445048",
        "name": "Diana Mora",
        "photo_url": null,
        "title": "CEO",
        "industry": "food & beverages",
        "headline": "ZARUCOFFEE CORP",
        "seniority": "c_suite",
        "estimated_num_employees": "3",
        "city": "New York",
        "state": "New York",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/67c4abcf7adc26000117c83e/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "Industria alimenticia dedicada exclusivamente a la selección, tueste, molida y empaque de café arábigo natural y café arábigo orgánico de la zona alta de la provincia de El Oro y de todas las regiones de Ecuador.\nNuestros productos:\nEl Zarumeñito y Zaruma Gold Mountain Coffee.\nCafeterías: Zaruma Gold Mountain.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "cafe natural tostado y molido de la ciudad de zaruma, food & beverage services, food & beverages, consumer goods, consumers",
        "organization_technologies": "AI, Amazon AWS, Android, Flutter, Google AdSense, Mobile Friendly, Outlook, Python, Remote, SharePoint",
        "email_domain_catchall": false,
        "id": "689f2107fc372300012e2622",
        "organization_id": "5a9dd7f6a6da98d94d8f4126",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/zarucoffee",
        "organization_linkedin_uid": "10539183",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2007,
        "organization_primary_domain": "zarucoffee.com",
        "organization_phone": "+1 551-232-1714",
        "organization_street_address": "8 25 de Diciembre",
        "organization_raw_address": "Ave. 8 de Diciembre, Zaruma, El Oro, EC",
        "organization_state": "El Oro",
        "organization_city": "Santa Rosa",
        "organization_country": "Ecuador",
        "organization_postal_code": null,
        "organization_market_cap": null
      },
      {
        "first_name": "James",
        "last_name": "Tan",
        "email": "james@tancorp.id",
        "organization_name": "Tancorp",
        "organization_website_url": "http://www.tancorp.id",
        "linkedin_url": "http://www.linkedin.com/in/james-tan-075745146",
        "name": "James Tan",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "CEO",
        "industry": "executive office",
        "headline": "CEO at Tancorp",
        "seniority": "c_suite",
        "estimated_num_employees": "100",
        "city": "Sunnyvale",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/67c3a21730fc07000142e6c2/picture",
        "organization_annual_revenue": "37700000",
        "organization_annual_revenue_printed": "37.7M",
        "organization_seo_description": "TANCORP merupakan perusahaan Indonesia yang terus bertumbuh secara eksponensial dengan lebih dari 300 brand di Indonesia.",
        "organization_short_description": "Tancorp Group merupakan perusahaan induk Indonesia yang bertumbuh secara eksponensial dari tahun ke tahun. Kini kami telah bertransformasi menjadi perusahaan holding nasional terbesar di Indonesia yang memiliki 8 perusahaan subholding yang bergerak di berbagai bidang industri. Mulai dari, industri, distribusi, properti, perhotelan, makanan & minuman, kesehatan & kecantikan, bisnis jaringan, serta kafe & restoran.\n\nOur corporate culture \"CInTA\" contains Customer Focus, Integrity, Teamwork,  and Agility.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "distribution, networking, cafe restaurant, cafe resto, property, food & beverage, industrial, hospitality, building material, fashion beauty, health beauty, cafe amp resto, health amp beauty, executive offices, holding company, indonesia, business units, exponential growth, brand management, consumer goods, healthcare, lifestyle, real estate, cosmetics, fashion, logistics, supply chain, manufacturing, strategic investment, community impact, social responsibility, cinta culture, innovation, human life, sustainable development, equity investment, retail, talent management, industrial innovation, product development, business growth, subholding, awards, corporate social responsibility, customer satisfaction, quality assurance, market leadership, employee engagement, youth education, entrepreneurship, entrepreneurial assistance, community development, job creation, business diversification, market expansion, customer value, brand recognition, integrated system, prominent brands, market trends, indonesian holding company, diverse portfolio, health & beauty, food & beverages, property development, lifestyle products, corporate culture, cinta, national welfare, strategic investments, over 100 brands, manufacturing standards, urban & rural markets, middle to upper-middle class, family-oriented, sustainable practices, lifestyle enhancement, economic growth, consumers, leisure, travel & tourism, health care, health, wellness & fitness, hospital & health care, beauty, apparel & fashion, mechanical or industrial engineering, sustainability, environmental services, renewables & environment",
        "organization_technologies": "Google Font API, Google Tag Manager, Mobile Friendly, WordPress.org, YouTube",
        "email_domain_catchall": false,
        "id": "66f594f2eaea5f0001e511ed",
        "organization_id": "5f3f9d9aeb68a300016a49ff",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/tan-corporation",
        "organization_linkedin_uid": "13641257",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2015,
        "organization_primary_domain": "tancorp.id",
        "organization_phone": null,
        "organization_street_address": "33 Jalan H R Muhammad",
        "organization_raw_address": "Jl. HR Mohammad No. 33 Surabaya, Office Tower, Surabaya, East Java 60226, ID",
        "organization_state": "East Java",
        "organization_city": "Surabaya",
        "organization_country": "Indonesia",
        "organization_postal_code": "60226",
        "organization_market_cap": null
      },
      {
        "first_name": "Alyssa",
        "last_name": "Johnson",
        "email": "alyssa@undergrowthcoffee.com",
        "organization_name": "Undergrowth Coffee",
        "organization_website_url": "http://www.undergrowthcoffee.com",
        "linkedin_url": "http://www.linkedin.com/in/alyssamariejohnson",
        "name": "Alyssa Johnson",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "Chief Executive Officer",
        "industry": "food & beverages",
        "headline": "Chief Executive Officer at Undergrowth Coffee",
        "seniority": "c_suite",
        "estimated_num_employees": "1",
        "city": "New Orleans",
        "state": "Louisiana",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68b6ddf4c9c38000013701b6/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "At Undergrowth Coffee, we embrace the essence of the underdog, symbolizing resilience, growth, and the tenacity to thrive against all odds. Our name reflects the hidden strength found in the understory— the lush and often overlooked layer of vegetation from which all life springs forth. Just like the underdog in your favorite fable, we are passionate about overcoming challenges and cultivating success from the seemingly obscure.  Through every sip of our carefully crafted, small batch coffees, we invite you to join us in celebrating the spirit of the undergrowth— where greatness emerges from unexpected places, and every humble beginning holds the potential to blossom into something extraordinary..",
        "organization_short_description": "Undergrowth Coffee is a company based out of 4332 Magazine St, New Orleans, Louisiana, United States.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "catering, coffee roasting, corporate catering, event space rental, breakfast, vegan, lunch, specialty coffee, beverage creation, vegetarian, cafe, housecrafted recipes, food & beverage services, food & beverages, consumer goods, consumers",
        "organization_technologies": "Amazon AWS, AngularJS, Bootstrap Framework, Cloudinary, Gmail, Google Analytics, Google Apps, Google Tag Manager, Mobile Friendly",
        "email_domain_catchall": false,
        "id": "674423b9f3c048000175d434",
        "organization_id": "66f78c1fc5e0bd00012dd820",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/undergrowth-coffee",
        "organization_linkedin_uid": "81081087",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2020,
        "organization_primary_domain": "undergrowthcoffee.com",
        "organization_phone": "+1 504-766-7772",
        "organization_street_address": "4332 Magazine St",
        "organization_raw_address": "4332 magazine street, new orleans, la, united states",
        "organization_state": "Louisiana",
        "organization_city": "New Orleans",
        "organization_country": "United States",
        "organization_postal_code": "70115",
        "organization_market_cap": null
      },
      {
        "first_name": "Dane",
        "last_name": "Atkinson",
        "email": "datkinson@odeko.com",
        "organization_name": "Odeko",
        "organization_website_url": "http://www.odeko.com",
        "linkedin_url": "http://www.linkedin.com/in/daneatkinson",
        "name": "Dane Atkinson",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4D03AQHG550H1QaIbA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1642102084722?e=2147483647&v=beta&t=V7k4nooQ5l1EEJNxA11RxtTOTQo22LBXiBlSdxFHc88",
        "title": "Chief Executive Officer",
        "industry": "information technology & services",
        "headline": "Serial CEO-Founder, CEO Odeko",
        "seniority": "c_suite",
        "estimated_num_employees": "190",
        "city": "New York",
        "state": "New York",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68cb358a5a93590001ee4006/picture",
        "organization_annual_revenue": "5888000",
        "organization_annual_revenue_printed": "5.9M",
        "organization_seo_description": "From essentials to extras, if your café needs it—we have it. Discover the all-in-one operations partner for local cafés and eateries.",
        "organization_short_description": "Odeko is building an enterprise-grade software platform for small businesses to realize their own unique visions for the world.",
        "organization_total_funding": "161522742",
        "organization_total_funding_printed": "161.5M",
        "keywords": "software development, mobile ordering, inventory management, supply chain management, next-day delivery, overnight restocking, vendor management, customizable dashboard, smart operations software, sustainability initiatives, cost saving, aggregated buying power, competitive pricing, local delivery, fast shipping, café essentials, customer management software, order consolidation, business efficiency, revenue growth, order tracking, food service technology, environmental footprint reduction, cafe supply logistics, independent business support, community focus, small business technology, order ahead, data insights, carbon emissions reduction, online ordering platform, dedicated account management, payment infrastructure, local brands sourcing, unique product offerings, vegan options, gluten-free products, committed customer service, working capital management, business relationship building, operational audits, product catalog access, 24/7 support, merchant hours savings, barista supplies, last-mile delivery solutions, cost of goods savings, training & resources for cafes, information technology & services, logistics & supply chain",
        "organization_technologies": "AI, Amazon AWS, Android, Bing Ads, Data Analytics, DoubleClick, DoubleClick Conversion, Elixir, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, GitHub Hosting, Gmail, Google Analytics, Google Apps, Google Dynamic Remarketing, Google Font API, Google Maps, Google Maps (Non Paid Users), Google Tag Manager, Gravity Forms, Greenhouse.io, Hotjar, Hubspot, Mobile Friendly, Nginx, Outlook, Paypal, Python, Quantcast, Remote, Route 53, Ruby On Rails, Segment.io, Sendgrid, Shopify, Stripe, Vimeo, Woo Commerce, WordPress.org, YouTube, reCAPTCHA",
        "email_domain_catchall": false,
        "id": "66f2be493526960001b32da7",
        "organization_id": "5df51bf5ad957e009862301c",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/officialodeko",
        "organization_linkedin_uid": "40773017",
        "organization_twitter_url": "https://twitter.com/officialodeko",
        "organization_facebook_url": "https://facebook.com/officialodeko/",
        "organization_founded_year": 2019,
        "organization_primary_domain": "odeko.com",
        "organization_phone": "+1 718-316-8602",
        "organization_street_address": "241 Centre St",
        "organization_raw_address": "241 Centre St, 3rd Floor, New York, New York 10013, US",
        "organization_state": "New York",
        "organization_city": "New York",
        "organization_country": "United States",
        "organization_postal_code": "10013",
        "organization_market_cap": null
      },
      {
        "first_name": "Eric",
        "last_name": "Franchising",
        "email": "eric@eufloriameds.com",
        "organization_name": "Eufloria",
        "organization_website_url": "http://www.eufloriameds.com",
        "linkedin_url": "http://www.linkedin.com/in/eric-dangler-ceo-eufloria-franchising-6059a410a",
        "name": "Eric Franchising",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4D03AQE2Etji5ig9Gw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1576057506963?e=2147483647&v=beta&t=gP0oizQ8RAqv1F9nCjZyH9gwn8KqQK2DZrUdi5myAHk",
        "title": "Chief Executive Officer",
        "industry": "retail",
        "headline": "Innovating the global retail cannabis market, Government security specialist, traveled to 55 countries , foreign language skills",
        "seniority": "c_suite",
        "estimated_num_employees": "42",
        "city": "Tulsa",
        "state": "Oklahoma",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68b9e5290d5ff60001ee7785/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "Based in Tulsa Ok, Eufloria CDB & medical marijuana dispensaries offer a new kind of cannabis experience where clients & consultation come first! Select Locations open 24 hours a day!",
        "organization_short_description": "Eufloria is a rapidly growing, world-class cannabis dispensary brand offering investors an opportunity with our growing company.\n\nThe founders of Eufloria, including retail entrepreneurs and combat veterans,  understood the cannabis industry is changing, consumers are becoming more knowledgeable and demanding a better experience yet most shops simply didn't meet the expectations of today's clients.\n\nAfter many months of research, hard work, and planning, the founders recognized that a revitalization of CBD, medical, and recreational dispensaries was needed. That's why Eufloria created a new cannabis experience offering clients a safer, cleaner, more welcoming and education-based environment to shop; elevating the marketplace to match the sophistication of today's cannabis consumer.\n\nTo continue to elevate the shopping experience, Eufloria not only offers industry-leading in-store experiences, but provides exclusive shopping options both online and via Apple and Android apps. Preordering with Eufloria entitles our members to special discounts as well as helps them save time without compromising the personal care that each client deserves.\n\nIt's this combination of experience, convenience, and rewards that drives our commitment to each and every client, elevating them as a member of our family, and helping them ‘Live THEIR Eufloria'.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "cannabis, dispensaries, licensing, compliance, consulting, retail, franchising, cbd, thc, cannabis dispensary, medical marijuana, recreational cannabis, cannabis consultants, personal consultations, cannabis cafe, premium cannabis, dispensary deals, cannabis accessories, 24-hour dispensary, medical cannabis, online ordering, franchise opportunities, discounts for veterans, customer experience, safe shopping environment, consultation services, cannabis products, educational resources, reward programs, first visit discount, product variety, client needs assessments, in-store experience, outdoor lounge, quality products, cannabis strains, cannabis terpenes, loyalty programs, flower products, edibles, pre-rolled, medical card assistance, state compliance, local dispensaries, superior service, consultants training, cannabis family, community engagement, client empowerment, business model, competitive advantage, shopping convenience, client referrals, customer feedback, community support, health benefits of cannabis, pharmaceuticals, medical, franchises, e-commerce, consumer internet, consumers, internet, information technology & services",
        "organization_technologies": "Gmail, GoDaddy Hosting, Google Apps, Google Font API, Google Tag Manager, Mobile Friendly, Remote, Varnish, WordPress.org, YouTube",
        "email_domain_catchall": false,
        "id": "674622c2130a6300018cdce3",
        "organization_id": "5e55a441ffe2940001079e5e",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/eufloria-dispensaries",
        "organization_linkedin_uid": "51591548",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2019,
        "organization_primary_domain": "eufloriameds.com",
        "organization_phone": "+1 918-271-5174",
        "organization_street_address": "303 Martin Luther King Jr Blvd",
        "organization_raw_address": "303 N Martin Luther King. Jr Blvd, Suite B, Tulsa, Oklahoma 74103, US",
        "organization_state": "Oklahoma",
        "organization_city": "Tulsa",
        "organization_country": "United States",
        "organization_postal_code": "74103",
        "organization_market_cap": null
      },
      {
        "first_name": "Frans",
        "last_name": "Govers",
        "email": "fgovers@grosfillex.com",
        "organization_name": "Grosfillex North America",
        "organization_website_url": "http://www.grosfillexna.com",
        "linkedin_url": "http://www.linkedin.com/in/fransgovers",
        "name": "Frans Govers",
        "photo_url": "https://media.licdn.com/dms/image/v2/C4D03AQHpSaWAdErr_g/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1611801589980?e=2147483647&v=beta&t=mabzQ7lW8amUSnzCjjSHwLD3MrBVh_OY-1TTj2qxHtY",
        "title": "Chief Executive Officer",
        "industry": "furniture",
        "headline": "Chief Executive Officer at Grosfillex North America",
        "seniority": "c_suite",
        "estimated_num_employees": "87",
        "city": "Philadelphia",
        "state": "Pennsylvania",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68b99cd4b228bd0001e993fd/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "Grosfillex North America, a subsidiary of Grosfillex Group, an international company with its worldwide headquarters based in the Jura mountains region of France, settled in the Reading, Pennsylvania area in 1969 over 50 years ago… \n\nToday, Grosfillex Group has operations not only at the home office in Europe, but also in North and South America, and China and ships its products to customers in more than 139 countries in the world. \n\nGrosfillex has built its outstanding brand reputation on the design, development, production and marketing of resin products for residential and commercial use. Grosfillex sets a standard for excellence throughout with its strict criteria for quality at every level.\n\nGrosfillex's headquarters in Robesonia, Pennsylvania services the United States, Canada and Mexico. Its North American operations include manufacturing facilities and distribution centers in Pennsylvania across approximately 90 acres of land. These operations share the common goal of providing customers with quality products, prompt service and on-time deliveries. \n\nNorth America includes two operating divisions: The Consumer Product Division markets product through mass merchants while the Commercial Product Division caters to dealers and operators of the Foodservice and Hospitality industry, and to other professional markets. \n\nFive product lines are currently manufactured and sold through a variety of distribution channels: Contract Furnishings - indoor and outdoor patio furniture, commercial planters, and crowd control fencing for commercial businesses such as restaurants, hotels, resorts, campgrounds, country clubs, universities and multifamily housing and Utility Shelving - Decorative wall paneling – Outdoor Decorative Planters  – Residential Outdoor Resin Furniture sold through Mass Merchants. \n\n#restaurants #foodservice #hospitality",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "outdoor furniture, manufacturing, contract furniture, hotel & resort, restaurant, cafe & bistro, campground, country club, event rentals, hoa, multifamily housing, university & education, residential furniture, lawn & garden, furniture & home furnishings manufacturing, mechanical or industrial engineering, home decor",
        "organization_technologies": "",
        "email_domain_catchall": false,
        "id": "67011e7f23d9e00001c52fd4",
        "organization_id": "603fac7cd2f84e00ca4ab0ef",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/grosfillexnorthamerica",
        "organization_linkedin_uid": "70969909",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 1969,
        "organization_primary_domain": "grosfillexna.com",
        "organization_phone": "+1 610-693-3504",
        "organization_street_address": "230 W Penn Ave",
        "organization_raw_address": "230 Old West Penn Ave, Robesonia, Pennsylvania 19551, US",
        "organization_state": "Pennsylvania",
        "organization_city": "Robesonia",
        "organization_country": "United States",
        "organization_postal_code": "19551-1414",
        "organization_market_cap": null
      },
      {
        "first_name": "James",
        "last_name": "Cotter",
        "email": "james.cotter@readingrdi.com",
        "organization_name": "Reading International",
        "organization_website_url": "http://www.readingrdi.com",
        "linkedin_url": "http://www.linkedin.com/in/james-cotter-02042880",
        "name": "James Cotter",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "Chief Executive Officer",
        "industry": "entertainment",
        "headline": "Chief Executive Officer at Reading International Inc. (NASDAQ: RDI)",
        "seniority": "c_suite",
        "estimated_num_employees": "77",
        "city": "Los Angeles",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68be1f7f9622580001a71735/picture",
        "organization_annual_revenue": "197270000",
        "organization_annual_revenue_printed": "197.3M",
        "organization_seo_description": "",
        "organization_short_description": "Reading International Inc. is a leading entertainment and real estate company, engaging in the development, ownership, and operation of multiplex cinemas and retail and commercial real estate in United States, Australia, and New Zealand. We are a NASDAQ corporation trading under the symbol RDI.  Organized in 1999 and headquartered in Los Angeles, California, Reading International has over 2,300 employees worldwide.\n\nWe have entertained millions of customers in our cinema locations. From New York to Wellington, New Zealand, our cinemas are designed to provide our customers with value and unmatched experiences through hospitality-styled comfort and service, cinematic presentation, and curated film and event programming.\n\nOur real estate portfolio is comprised of investments in entertainment themed retail centers, cinemas, live theaters, and property under development.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "entertainment, live theater, specialty film, real estate, angelika film center, cafe, consolidated theatres, reading cinemas, movies/entertainment, consumer discretionary, entertainment providers",
        "organization_technologies": "Drupal, Outlook, Route 53, SparkPost",
        "email_domain_catchall": false,
        "id": "67d7df7969a51200018e86b9",
        "organization_id": "5da3ecbffb953300010d829a",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/readingrdi",
        "organization_linkedin_uid": "18786593",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 1999,
        "organization_primary_domain": "readingrdi.com",
        "organization_phone": "+1 213-235-2240",
        "organization_street_address": "5995 Sepulveda Blvd",
        "organization_raw_address": "5995 Sepulveda Blvd, Culver City, California 90230, US",
        "organization_state": "California",
        "organization_city": "Culver City",
        "organization_country": "United States",
        "organization_postal_code": "90230",
        "organization_market_cap": "153.8M"
      },
      {
        "first_name": "Marcelino",
        "last_name": "Ruiz",
        "email": null,
        "organization_name": "SOMNUI, SL",
        "organization_website_url": "http://www.somnui.com",
        "linkedin_url": "http://www.linkedin.com/in/marcelino-arce-ruiz-66170758",
        "name": "Marcelino Ruiz",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "Socio CEO",
        "industry": "wholesale",
        "headline": "Socio CEO SOMNUI, SL",
        "seniority": "c_suite",
        "estimated_num_employees": "1",
        "city": "Orlando",
        "state": "Florida",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/68c462dd4a6b1d000196ebb9/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "Somos una empresa valenciana dedicada a la importación de cafés de especialidad procedentes de nuestra propia finca en Nicaragua. Nuestro enfoque se centra en ofrecer productos de alta calidad y origen sostenible. Además, colaboramos en proyectos de investigación y desarrollo (I+D) que generan un impacto positivo tanto en el medio ambiente como en la sociedad. Estamos comprometidos con la promoción de prácticas responsables y éticas en toda nuestra cadena de suministro.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "importacion de cafe, investigacion, desarrollo, cafe, development",
        "organization_technologies": "",
        "email_domain_catchall": false,
        "id": "54a228a674686930c29eda11",
        "organization_id": "65ab823cdbc41d00014e59d4",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/somnui-sl",
        "organization_linkedin_uid": "86834172",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": 2022,
        "organization_primary_domain": "somnui.com",
        "organization_phone": null,
        "organization_street_address": "11 Calle Moro Zeit",
        "organization_raw_address": "Calle Moro Zeit, 11, 6. 46001 Valencia, Valencia, Valencia 46001, ES",
        "organization_state": "Valencian Community",
        "organization_city": "Valencia",
        "organization_country": "Spain",
        "organization_postal_code": "46001",
        "organization_market_cap": null
      },
      {
        "first_name": "James",
        "last_name": "Pham",
        "email": "james@enlightea.com",
        "personal_email": "jamesvpham@yahoo.com",
        "organization_name": "EnlighTea Cafe, Tea Bar, Boutique & Retail",
        "organization_website_url": "http://www.enlightea.com",
        "linkedin_url": "http://www.linkedin.com/in/jamesvpham",
        "name": "James Pham",
        "photo_url": "https://media.licdn.com/dms/image/v2/C5603AQEILGPt9qmF0Q/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1654208625047?e=2147483647&v=beta&t=iDpWoQMJedauDVpjmUr1WVGYDCMjFGu2XJtLIDoPKJw",
        "title": "Founder : CEO : Chairman",
        "industry": "food & beverages",
        "headline": "PRESIDENT : FOUNDING MEMBER",
        "seniority": "founder",
        "estimated_num_employees": "2",
        "city": "San Diego",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/67020a9330b28c0001e6696a/picture",
        "organization_annual_revenue": "9086000",
        "organization_annual_revenue_printed": "9.1M",
        "organization_seo_description": "EnlighTea Cafe: An Enlightening Tea Experience. EnlighTea Cafe offers green tea, oolong tea, loose leaf tea, tea cafe, tea san diego, tea cafe san diego, free wi-fi, herbal teas, white tea, fruit tea, tea products, tea gifts, and much more!",
        "organization_short_description": "Committed to opening a chain of tea cafes promoting the EnlighTea Global Brand representing Love, Light, and Luxury, healthy premium loose leaf teas, delicious beverages, and other desirable products and services.  \n\nEnlighTea Cafe provides a unique enlightening tea experience at every EnlighTea Cafe location.  EnlighTea Cafe is the blend of 4 successful revenue generating business models:  the \"Starbucks Experience\"​, Specialty Tea Retail, Boba Tea Shop, and Coworking Space business models.   We are looking to expand nationwide.  \n\nContact us for licensing and franchising opportunities, learn more at info@enlightea.com or (858) 519-8327.  Thank you!",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "premium loose leaf teas, global brand, tea cafe, licensing, franchise, beverages, license, business opportunity, starbucks of tea, enlightea experience, social, local events, wholesale, distribution, tea, hot beverages, cold beverages, great social experience, tea tastings, food & beverage services, loose leaf tea, premium teas, tea blends, tea experience, high-quality tea, artisan teas, relaxation teas, tea selection, custom tea blends, wellness teas, tea for events, tea wholesale, organic teas, tea accessories, tea gifts, flavored teas, tea subscription, family-friendly cafe, customer service, tea knowledge, corporate tea events, tea community, specialty teas, international teas, tea culture, healthy beverages, luxury tea, unique tea flavors, wholesale tea distribution, investor opportunities, enlightening tea, tea master, sustainable tea sourcing, pop-up tea cafe, specialty beverages, gourmet teas, social tea gatherings, tea lovers, tea workshops, seasonal teas, artisan beverage services, fundraising tea programs, tea lover gift sets, corporate gifting tea, event catering tea, food & beverages, consumer goods, consumers, cafes, coffee & tea, food, restaurants",
        "organization_technologies": "AI, Amazon AWS, Backbone JS Library, Basis, Ecwid, Facebook Custom Audiences, Facebook Login (Connect), Facebook Widget, Google Analytics, Google Play, Google Tag Manager, Hubspot, MailChimp, Micro, Microsoft Office 365, Mobile Friendly, Outlook, Paypal, Remote, Render, Reviews, Typekit, Vimeo, Yelp, YouTube",
        "email_domain_catchall": false,
        "id": "610aa2248cb9c70001329f8d",
        "organization_id": "54a11cee69702da10f72de00",
        "twitter_url": "https://twitter.com/enlightea",
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/enlightea-cafe",
        "organization_linkedin_uid": "1296455",
        "organization_twitter_url": "https://twitter.com/EnlighTea",
        "organization_facebook_url": "https://www.facebook.com/EnlighTea/",
        "organization_founded_year": 2006,
        "organization_primary_domain": "enlightea.com",
        "organization_phone": "+1 917-940-0264",
        "organization_street_address": "3111 Camino Del Rio North",
        "organization_raw_address": "3111 Camino Del Rio North, Suite 400, San Diego, CA 92108, US",
        "organization_state": "California",
        "organization_city": "San Diego",
        "organization_country": "United States",
        "organization_postal_code": "92108",
        "organization_market_cap": null
      },
      {
        "first_name": "Alan",
        "last_name": "Ada",
        "email": null,
        "organization_name": "Pointe West",
        "organization_website_url": "http://www.pointewestgalveston.com",
        "linkedin_url": "http://www.linkedin.com/in/alan-ada-02b867132",
        "name": "Alan Ada",
        "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
        "title": "Chief Executive Officer",
        "industry": "hospitality",
        "headline": "Chief Executive Officer",
        "seniority": "c_suite",
        "estimated_num_employees": "26",
        "city": "San Diego",
        "state": "California",
        "country": "United States",
        "organization_logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/670622bad3dfb2000114aca9/picture",
        "organization_annual_revenue": null,
        "organization_annual_revenue_printed": null,
        "organization_seo_description": "",
        "organization_short_description": "Pointe West, on Galveston island, is a thriving beach community offering vacation rentals and vacation home ownership.\n\nA new world awaits you as you enter into Pointe West on the west end of Galveston island. Overlooking three miles of pristine beachfront, the Pointe West Beach Club is the heart of the community. Soak up the sun beside the dramatic infinity-edge pool or soak away your cares in a bubbling hot tub. Work up an appetite at the Fitness Center then satisfy it poolside at Breezes Cafe. Later, dance the night away under the stars at Topsiders open-air lounge. Put away your watch. This is your place. And you have nowhere you have to go.\n\nTake a guided nature tour by bike or on foot and learn about our rich island ecosystem. Crab or fish the many lagoons. Spend an afternoon birding in the nature preserve. Or attend a \"dive-in\" movie with the kids and invite friends for a seafood cookout on the beach. Whatever your passions are, you'll find activities to fulfill your interests. At Pointe West, let life float by.",
        "organization_total_funding": null,
        "organization_total_funding_printed": null,
        "keywords": "rentals, beach club, topsiders lounge, golden beaches, fitness center, lagoons, breezes cafe, nature preserves, ownership, hotels & travel, resorts",
        "organization_technologies": "",
        "email_domain_catchall": false,
        "id": "617d2dcb42114200010631fd",
        "organization_id": "54a13a2d69702d218574b700",
        "twitter_url": null,
        "facebook_url": null,
        "organization_linkedin_url": "http://www.linkedin.com/company/pointe-west",
        "organization_linkedin_uid": "2290884",
        "organization_twitter_url": null,
        "organization_facebook_url": null,
        "organization_founded_year": null,
        "organization_primary_domain": "pointewestgalveston.com",
        "organization_phone": "+1 409-497-2525",
        "organization_street_address": "4161 Pointe West Drive",
        "organization_raw_address": "4161 Pointe W Dr, Galveston, TX 77554",
        "organization_state": "Texas",
        "organization_city": "Galveston",
        "organization_country": "United States",
        "organization_postal_code": "77554",
        "organization_market_cap": null
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6baf55fe0ef77c33d6fa749473787d2579a5b07f1458cc63604927053b912082"
  }
}
